
<div id="container" role="main" class="ui-content">
  <table width="100%" cellpadding="5px;" cellspacing="0" style="background-color: #EEEEE0;">
	<tr><td>
		<div style="float: left;margin: 3px;">
			<img style="vertical-align: bottom;" src="/images/ntura_framework.png" height="64px" />
		</div>
		<div align="center" style="float: left;margin: 3px;min-width: 200px;width: 58%;">     
		<h1 style="font-variant: small-caps;font-weight: bold;margin: 0px;">NERVATURA</h1>
		<span class="vernum" >Ver.No: <%= settings.version %></span>
		</div>
	</td></tr>
  </table>
  <hr>