<% include html_head.html %>
<div class="container btext" >
  <% if (flash) { %>
  <div class="flash"><%= flash %></div>
  <% } %>
  <% if (typeof insecure === "undefined") { %>
  <div align="center" style="padding-top: 20px;">
    <div class="panel panel-primary" style="max-width: 400px;">
      <div class="panel-heading">
        <h2 class="panel-title text-left"><%= lang.label_login_title %></h2>
      </div>
      <form id="frm_login" action="/login" method="post" class="form-horizontal" style="max-width: 500px;">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <ul class="list-group" style="margin:0px;">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3 text-left">
                <label for="username" class="control-label"><%= lang.label_username %>:</label>
              </div>
              <div class="col-sm-9">
                <input name="username" id="username" value="<%= username %>" 
                  class="form-control" type="text" 
                  onkeydown="if (event.keyCode == 13) document.forms['frm_login'].submit();">
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3 text-left">
                <label for="password" class="control-label"><%= lang.label_password %>:</label>
              </div>
              <div class="col-sm-9">
                <input name="password" id="password" value="" 
                  class="form-control" type="password" 
                  onkeydown="if (event.keyCode == 13) document.forms['frm_login'].submit();">
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="panel-footer">
        <a role="button" class="btn btn-primary" 
          onclick="document.forms['frm_login'].submit();">
          <span class="glyphicon glyphicon-ok" style="color:#8FBC8F;" aria-hidden="true"></span>
          <%= lang.label_login %></a>
      </div>
    </div>
  </div>
  <% } %>
</div>
<% include html_foot.html %>