<% include html_head.html %>
<% include body_page_header.html %>
<% include content_logo.html %>

<style>
  li {
      padding-top: 10px;
      text-align: left;
  }
</style>

<h3 style="color: #3B7687;">Documentations</h3>
<ul>
  <li><a href="/docs/nas" target="_blank">
    <span class="sname">NAS</span>&nbsp;<b><i>Nervatura Application Server</i></b></a></li>
  <li><a href="/docs/nom" target="_blank">
    <span class="sname">NOM</span>&nbsp;<b><i>Nervatura Object Model</i></b></a></li>
  <li><a href="/docs/ndi" target="_blank">
    <span class="sname">NDI</span>&nbsp;<b><i>Nervatura Data Interface</i></b></a></li>
  <li><a href="/ndi/wizard" target="_blank">
    <span class="sname">NDI</span>&nbsp;<b><i>Nervatura Data Interface Wizard</i></b></a></li>
  <li><a href="/docs/npi" target="_blank">
    <span class="sname">NPI</span>&nbsp;<b><i>Nervatura Programming Interface</i></b></a></li>
  <li><a href="/report" target="_blank">
    <span class="sname">NDR</span>&nbsp;<b><i>Nervatura Report</i></b></a></li>
</ul>

<hr>

<h3 style="color: #3B7687;">More Resources</h3>
<ul>
  <li><a href="http://www.nervatura.com/touch.html" 
    target="_blank"><span class="sname">NTOUCH</span>&nbsp;<b><i>Nervatura Touch</i></b></a><br>
      Fast native client-side application for Android, iOS and Windows 10. Touch-optimized and responsive 
      graphical user interface for all devices (smartphone, tablet, laptop, PC).<br>
      The Nervatura Touch is a proprietary software.</li>
  <li><a href="/download/nwx.zip" target="_blank"><span class="sname">NPI</span>&nbsp;<b><i>Nervatura wxPython Client</i></b></a><br>
    Sample program using 
    <a href="http://wxpython.org/" target="_blank">wxPython</a>
     and  <a href="/docs/npi" 
    target="_blank">NPI</a>.
    It is aimed to present the usage of a client-side interface.</li>
  <li><a href="/download/npijson.zip" 
    target="_blank"><span class="sname">NPI</span>&nbsp;<b><i>Javascript RPC functions</i></b></a><br>
    Sample program using <a href="http://knockoutjs.com/" target="_blank">Knockout</a>,
    <a href="http://en.wikipedia.org/wiki/JSON-RPC" target="_blank">JSON-RPC</a>
     and  <a href="/docs/npi" 
    target="_blank">NPI</a>.</li>
  <li><a href="/download/calc_demo.ods"
    target="_blank"><span class="sname">NDI</span>&nbsp;<b><i>LibreOffice Calc Data Loader</i></b></a><br>
    Sample LibreOffice Calc Basic functions using  
    <a href="/docs/ndi" 
    target="_blank">NDI</a>. <br>
    Example objects: deffield, product, barcode, event, price, link. (Windows and Linux)
  </li>
  <li><a href="https://github.com/nervatura/nerva2py"
    target="_blank"><span class="sname">nerva2py</span>&nbsp;<b><i>Previous (v1.*) version</i></b></a><br>
    The Nervatura Framework v1.* is based on the <a href="http://www.web2py.com/"
    target="_blank">WEB2PY WEB FRAMEWORK</a> technology. 
    It is written and programmable in Python.<br>    
    Object Model, Application Server, Data Interface, Programming Interface, Web Client, Mobil Client
    and other documents, resources, sample code and demo programs.

  </li>

</ul>

<% include html_foot.html %>