.panel {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 4px;
}

.panelTitle {
  border-radius: 3px;
  font-weight: bold;
  padding: 8px 16px;
}

.tabButton {
  border-radius: 0px;
  margin-top: 2px;
}

.badge {
  font-weight: bold;
  font-size: 14px;
  color: rgba(var(--primary-rgb),0.85);
  background-color: var(--light);
  display: inline-block;
  padding: 1px 6px 1px 5px;
  text-align: center;
  border-radius: 50%;
}

.width800 {
  max-width: 800px;
}