{{ define "database" }}
{{ template "header" . }}
<div class="page {{if not .theme }} light {{else}} {{ .theme }} {{end}}">
  <div class="row full primary bold" >
    <div class="cell padding-normal" >
      <span>Nervatura Admin</span>
    </div>
    <div class="cell padding-normal align-right" >
      <span>{{ .view_version }}: {{ .version }}</span>
    </div>
  </div>
  <form action="/admin" method="POST" novalidate id="menu">
    <input type="hidden" name="formID" value="menu">
    <input type="hidden" name="pageID" value="database">
    <input type="hidden" name="theme" value="{{ .theme }}">
    <div class="row full section-small container-small" >
      <div class="cell" >
        <div class="cell padding-small" >
          <button name="menu" type="submit" value="login" >
            {{ .view_login }}
          </button>
        </div>
        <div class="cell padding-small" >
          <button name="menu" type="submit" value="client" >
            {{ .view_client }}
          </button>
        </div>
        <div class="cell padding-small" >
          <button name="menu" type="submit" value="locales" >
            {{ .view_locales }}
          </button>
        </div>
        <div class="cell padding-small" >
          <button name="menu" type="submit" value="docs" >
            {{ .view_docs }}
          </button>
        </div>
      </div>
    </div>
  </form>
  <form action="/admin" method="POST" onsubmit="return(showLoader(true));" id="database">
    <input type="hidden" name="formID" value="database">
    <input type="hidden" name="theme" value="{{ .theme }}">
    <div class="row full primary bold" >
      <div class="cell padding-normal" >
        <span>{{ .view_create }}</span>
      </div>
      <div class="cell align-right container" >
        <button class="primary success-color" form="database" type="submit" >
          {{ .view_submit }}
        </button>
      </div>
    </div>
    <div class="row full section-small" >
      <div class="row full container-small section-small-bottom" >
        <div class="cell mobile">
          <div class="cell padding-small mobile" >
            <div class="padding-small" >
              <span class="bold">{{ .view_api_key }}</span>
            </div>
            <input class="full" name="apikey" type="text" value="{{ .apikey }}"/>
          </div>
          <div class="cell padding-small mobile" >
            <div class="padding-small" >
              <span class="bold">{{ .view_alias }}</span>
            </div>
            <input class="full" name="database" type="text" value="{{ .database }}"/>
          </div>
          <div class="cell padding-small mobile" >
            <div class="padding-small" >
              <span class="bold">{{ .view_demo }}</span>
            </div>
            <select name="demo" >
              <option value="true" {{if eq .demo "true" }} selected {{end}} >true</option>
              <option value="false" {{if eq .demo "false" }} selected {{end}} >false</option>
            </select>
          </div>
        </div>
      </div>
      {{ with .errors.database }}
      <div class="row container-small" >
        <div class="cell error padding-normal bold">
          <span>{{ . }}</span>
        </div>
      </div>
      {{ end }}
      {{if .result}}
      <div class="container section-small" >
        <div class="results">
          {{range .result}}
          <div class="padding-small small">
            <div {{if eq .state "err" }} class="error" {{end}} >{{ .stamp }}</div>
            <span {{if eq .state "err" }} class="error" {{end}} >{{ .message }}</span>
            <span {{if eq .state "err" }} class="error" {{end}} >{{ .section }}</span>
            <span {{if eq .state "err" }} class="error" {{end}} >{{ .datatype }}</span>
            <div {{if eq .state "err" }} class="error" {{end}} >{{ .result }}</div>
          </div>
          {{end}}
        </div>
      </div>
      {{end}}
    </div>
  </form>
</div>
{{ template "footer" . }}
{{ end }}