{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/client/assets/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .view_admin }}</title>
    <link type="text/css" href="/css/sanitize.min.css" rel="stylesheet" />
    <link type="stylesheet" href="/fonts/font.css" rel="stylesheet" />
    <link type="text/css" href="/css/theme.css" rel="stylesheet" />
    <link type="text/css" href="/css/style.css" rel="stylesheet" />
    <link type="text/css" href="/css/app.css" rel="stylesheet" />
    <script>
      function showLoader(value){
        if(document.getElementById("loader_modal")){
          document.getElementById("loader_modal").style.display = (value) ? "block" : "none";
        }
        return true
      }
    </script>
  </head>
  <body class="secondary" >
    <div id="loader_modal" class="modal_simple" style="display: none;" >
      <div class="middle" >
        <div class="loader" ></div>
      </div>
    </div>
{{ end }}