
<div class="w3-modal-content" style="max-width: 400px;">
  <div class="w3-center w3-padding-48 w3-margin-top w3-margin-bottom">
    <p class="w3-large"><b>Nervatura <%= lang.title_nas %></b></p>
    <p><b><%= lang.label_username %>: </b><%= user.username %></p>
    <p>Ver.No: <%= settings.version %></p>
    <img class="w3-card-2" style="vertical-align: bottom;" 
      src="/images/ntura_framework.png" height="64px" />
    <p style="padding-top:20px;"><a href="http://www.nervatura.com" style="font-weight: bold;" target="_blank" 
      title="Nervatura"><%= lang.label_ntura_framework %></a></p>
  </div>
</div>

