<body>
  <div data-role="page">
    <div data-role="header" data-theme="b" data-fullscreen="false" data-position="fixed">  
      <a class="ui-btn-left" data-ajax="true" data-icon="bars" data-iconpos="left" data-mini="true" 
        data-role="button" data-theme="b" href="#main-menu" style="color: #FFD700;"><%= lang.label_menu %></a>
      <h1 style="color: #FFD700;font-size: small;margin: 0px;padding: 3px 0px 0px"><%= lang.title_nas %></h1>
      <h1 style="margin: 0px;padding: 0px 0px 4px;"> <%= subtitle %></h1>
      <a class="ui-btn-right" data-ajax="false" data-icon="power" data-iconpos="left" data-mini="true" 
        data-role="button" data-theme="b" href="/nas/logout" style="color: red;margin:2px;"><%= lang.label_exit %></a>
    </div>
    <div id="container" role="main" class="ui-content">
      <% if (flash) { %><div class="flash"><%= flash %></div><% } %>