
<% if (view === "create") { %>
<div class="w3-modal-content" style="max-width: 500px;">
  <div class="w3-border w3-border-black w3-margin-top w3-margin-bottom">
    <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
      <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>
      <label><%= subtitle %></label>
    </div>
    <div class="w3-container w3-padding w3-white">
      <p>1. <%= lang.li_dbs_create_1 %> 
        <a class="w3-text-blue-grey" href="/nas/database/list" ><b><%= lang.label_databases %></b></a></p>
      <p>2. <%= lang.li_dbs_create_2 %></p>
      <p>3. <%= lang.li_dbs_create_3 %></p>

      <form id="frm_create" action="/nas/database/create" method="post">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <ul class="w3-ul">
          <li class="w3-padding-small">
            <div class="w3-row">
              <div class="w3-half w3-padding-small">
                <select name="alias" id="alias" class="w3-select w3-border w3-round">
                  <% data.forEach(function(dbs) { %><% if (dbs.alias === form.alias) { %>
                    <option value="<%= dbs.alias %>" selected="selected"><%= dbs.alias %></option><% } else{ %>
                    <option value="<%= dbs.alias %>"><%= dbs.alias %></option><% } %><% }); %>
                </select>
              </div>
              <div class="w3-half w3-padding-small">
                <button  class="w3-button w3-block w3-dark-black w3-text-white w3-hover-black w3-hover-text-green w3-round" 
                  onclick="document.getElementById('info_create').innerHTML='<%= lang.info_start %>';document.forms['frm_create'].submit();">
                  <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
                  <b><%= lang.li_dbs_start%></b></button>
              </div>
            </div>
          </li>
        </ul>
        <div id="info_create" class="w3-panel w3-border w3-sand w3-padding w3-round">
          <% if (form.message) { %><%- form.message %><% } %>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>
<% if (view === "export") { %>
<div class="w3-modal-content" style="max-width: 500px;">
  <div class="w3-border w3-border-black w3-margin-top w3-margin-bottom">
    <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
      <i class="fa fa-cloud-download fa-fw" aria-hidden="true"></i>
      <label><%= subtitle %></label>
    </div>
    <div class="w3-container w3-padding w3-white">
      <p><span style="color:brown;font-weight: bold;">Nervatura data export</span><br>
        <span style="color:green;font-weight: bold;">NOM objects:</span><br>
        <span style="font-weight:normal;">address, barcode, contact, currency, customer, 
          deffield, employee, event, fieldvalue, groups, item, link, log, movement, numberdef, 
          pattern, payment, place, price, product, project, rate, tax, tool, trans</span><br>
        <span style="color:green;font-weight: bold;">UI objects: </span><br>
        <span>ui_audit, ui_language, ui_menu, ui_menufields, ui_message, ui_report, ui_reportfields, 
          ui_reportsources, ui_userconfig</span></p>
      <p><span style="color:red;font-weight: bold;"><%= lang.not_included %>: </span><br>
        <span>ui_printqueue</span></p>
      <p><%= lang.info_export %></p>

      <form id="frm_export" action="/nas/database/export" method="post">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <ul class="w3-ul">
          <li class="w3-padding-small w3-border-0">
            <div class="w3-row">
              <div class="w3-half w3-padding-small">
                <label><%= lang.label_export_file %>:</label>
                <select name="filename" id="filename" class="w3-select w3-border w3-round"><% if (form.filename !== 'download') { %>
                  <option value="alias" selected="selected"><%= lang.label_alias %></option>
                  <option value="download"><%= lang.label_download %></option><% } else{ %>
                  <option value="alias"><%= lang.label_alias %></option>
                  <option value="download" selected="selected"><%= lang.label_download %></option><% } %>
                </select>
              </div>
              <div class="w3-half w3-padding-small">
                <label><%= lang.label_format %>:</label>
                <select name="format" id="format" class="w3-select w3-border w3-round"><% if (form.format !== 'xml') { %>
                  <option value="data" selected="selected">data</option>
                  <option value="xml">xml</option><% } else{ %>
                  <option value="data">data</option>
                  <option value="xml" selected="selected">xml</option><% } %>
                </select>
              </div>
            </div>
          </li>
          <li class="w3-padding-small">
            <div class="w3-row">
              <div class="w3-half w3-padding-small">
                <select name="alias" id="alias" class="w3-select w3-border w3-round">
                  <% data.forEach(function(dbs) { %><% if (dbs.alias === form.alias) { %>
                    <option value="<%= dbs.alias %>" selected="selected"><%= dbs.alias %></option><% } else{ %>
                    <option value="<%= dbs.alias %>"><%= dbs.alias %></option><% } %><% }); %>
                </select>
              </div>
              <div class="w3-half w3-padding-small">
                <button  class="w3-button w3-block w3-dark-black w3-text-white w3-hover-black w3-hover-text-green w3-round" 
                  onclick="document.getElementById('info_export').innerHTML='<%= lang.info_start %>';document.forms['frm_export'].submit();">
                  <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
                  <b><%= lang.li_dbs_start%></b></button>
              </div>
            </div>
          </li>
        </ul>
        <div id="info_export" class="w3-panel w3-border w3-sand w3-padding w3-round">
          <% if (form.message) { %><%- form.message %><% } %>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>
<% if (view === "import") { %>
<div class="w3-modal-content" style="max-width: 500px;">
  <div class="w3-border w3-border-black w3-margin-top w3-margin-bottom">
    <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
      <i class="fa fa-cloud-upload fa-fw" aria-hidden="true"></i>
      <label><%= subtitle %></label>
    </div>
    <div class="w3-container w3-padding w3-white">
      <p><%= lang.li_dbs_create_2 %></p>

      <form id="frm_import" action="/nas/database/import" method="post">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <ul class="w3-ul">
          <li class="w3-padding-small w3-border-0">
            <div class="w3-row">
              <div class="w3-col w3-hide-small" style="width:100px; padding-top:8px">
                <label><%= lang.label_export_file %>:</label>
              </div>
              <div class="w3-rest w3-padding-small">
                <label class="w3-hide-medium w3-hide-large"><%= lang.label_export_file %>:</label>
                <select name="filename" id="alias" class="w3-select w3-border w3-round">
                  <% filenames.forEach(function(filename) { %><% if (filename === form.filename) { %>
                  <option value="<%= filename %>" selected="selected"><%= filename %></option><% } else{ %>
                  <option value="<%= filename %>"><%= filename %></option><% } %><% }); %>
                </select>
              </div>
            </div>
          </li>
          <li class="w3-padding-small w3-border-0">
            <div class="w3-row">
              <div class="w3-col w3-padding-small">
                <label><%= lang.label_upload_file %>:</label>
                <input id="data" name="data" type="file" disabled="disabled" 
                  class="w3-input w3-border w3-round">
              </div>
            </div>
          </li>
          <li class="w3-padding-small">
            <div class="w3-row">
              <div class="w3-half w3-padding-small">
                <select name="alias" id="alias" class="w3-select w3-border w3-round">
                  <% data.forEach(function(dbs) { %><% if (dbs.alias === form.alias) { %>
                    <option value="<%= dbs.alias %>" selected="selected"><%= dbs.alias %></option><% } else{ %>
                    <option value="<%= dbs.alias %>"><%= dbs.alias %></option><% } %><% }); %>
                </select>
              </div>
              <div class="w3-half w3-padding-small">
                <button  class="w3-button w3-block w3-dark-black w3-text-white w3-hover-black w3-hover-text-green w3-round" 
                  onclick="document.getElementById('info_import').innerHTML='<%= lang.info_start %>';document.forms['frm_import'].submit();">
                  <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
                  <b><%= lang.li_dbs_start%></b></button>
              </div>
            </div>
          </li>
        </ul>
        <div id="info_import" class="w3-panel w3-border w3-sand w3-padding w3-round">
          <% if (form.message) { %><%- form.message %><% } %>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>
<% if (view === "edit") { %>
<div class="w3-modal-content w3-animate-zoom" style="max-width: 500px;">
  <div class="w3-border w3-border-black w3-margin-top w3-margin-bottom">
    <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
      <i class="fa fa-database fa-fw" aria-hidden="true"></i>
      <label><%=data.alias===''? lang.label_new : data.alias%></label>
      <a href="/nas/database/list" 
        class="w3-hover-text-red w3-right w3-text-white" style="cursor: pointer;">
        <i class="fa fa-window-close fa-fw" aria-hidden="true"></i></a>
    </div>
    <form id="frm_edit" action="/nas/database/list" method="post">
      <input name="_csrf" value="<%= _csrf %>" type="hidden">
      <ul class="w3-ul">
        <li class="w3-padding-small">
          <div class="w3-row-padding">
            <div class="w3-half w3-padding-small">
              <label><%= lang.label_alias %>:</label>
              <input name="alias" id="alias" value="<%= data.alias %>" 
                class="w3-input w3-border w3-round" type="text">
            </div>
            <div class="w3-half w3-padding-small">
              <label><%= lang.label_engine %>:</label>
              <select name="engine" id="engine" class="w3-select w3-border w3-round">
                <% engines.forEach(function(engine) { %><% if (engine.key === data.engine) { %>
                  <option value="<%= engine.key %>" selected="selected"><%= engine.label %></option><% } else{ %>
                  <option value="<%= engine.key %>"><%= engine.label %></option><% } %><% }); %>
              </select>
            </div>
          </div>
        </li>
        <li class="w3-padding-small">
          <div class="w3-row-padding">
            <div class="w3-col w3-hide-small" style="width:100px; padding-top:8px">
              <label><%= lang.label_host %>:</label>
            </div>
            <div class="w3-rest w3-padding-small">
              <label class="w3-hide-medium w3-hide-large"><%= lang.label_host %>:</label>
              <input name="host" id="host" value="<%= data.connect.host %>" 
                class="w3-input w3-border w3-round" type="text">
            </div>
          </div>
        </li>
        <li class="w3-padding-small">
          <div class="w3-row-padding">
            <div class="w3-half w3-padding-small">
              <label><%= lang.label_database %>:</label>
              <input name="dbname" id="dbname" value="<%= data.connect.dbname %>" 
                class="w3-input w3-border w3-round" type="text">
            </div>
            <div class="w3-half w3-padding-small">
              <label><%= lang.label_port %>:</label>
              <input name="port" id="port" value="<%= data.connect.port %>" 
                class="w3-input w3-border w3-round" type="text">
            </div>
          </div>
        </li>
        <li class="w3-padding-small">
          <div class="w3-row-padding">
            <div class="w3-half w3-padding-small">
              <label><%= lang.label_username %>:</label>
              <input name="username" id="username" value="<%= data.connect.username %>" 
                class="w3-input w3-border w3-round" type="text">
            </div>
            <div class="w3-half w3-padding-small">
              <label><%= lang.label_password %>:</label>
              <input name="password" id="password" value="<%= data.connect.password %>" 
                class="w3-input w3-border w3-round" type="text">
            </div>
          </div>
        </li>
        <li class="w3-padding-small">
          <div class="w3-row-padding">
            <div class="w3-half w3-padding-small">
              <label><%= lang.label_ndi_enabled %>:</label>
              <select name="ndi_enabled" id="ndi_enabled" class="w3-select w3-border w3-round">
                <% if (data.settings.ndi_enabled) { %>
                <option value="true" selected="selected">true</option>
                <option value="false">false</option><% } else{ %>
                <option value="true">true</option>
                <option value="false" selected="selected">false</option><% } %>
              </select>
            </div>
            <div class="w3-half w3-padding-small">
              <label><%= lang.label_encrypt_password %>:</label>
              <input name="encrypt_password" id="encrypt_password" value="<%= data.settings.encrypt_password %>" 
                class="w3-input w3-border w3-round" type="text">
            </div>
          </div>
        </li>
        <li class="w3-padding-small">
          <div class="w3-row">
            <div class="w3-col w3-padding-small">
              <label><%= lang.label_dbs_host_restriction %>:</label>
              <textarea id="dbs_host_restriction" name="dbs_host_restriction" 
                class="w3-input w3-border w3-round" ><%= data.settings.dbs_host_restriction %></textarea>
            </div>
          </div>
        </li>
      </ul>
      <input value="update" id="update_cmd" name="update_cmd" type="hidden">
    </form>
    <div class="w3-container w3-border-top w3-margin-top w3-padding-8 w3-light-grey">
      <div class="w3-row w3-center w3-padding">
        <button  class="w3-button w3-dark-black w3-text-white w3-hover-black w3-hover-text-green w3-round" 
          onclick="document.forms['frm_edit'].submit();"
          onkeydown="if (event.keyCode == 13) document.forms['frm_edit'].submit();">
          <i class="fa fa-check fa-fw" aria-hidden="true"></i>
          <b><%= lang.label_update %></b></button>
      </div>
    </div>
  </div>
</div>
<% } %>
<% if (view === "list") { %>
<div class="w3-modal-content" style="max-width: 500px;">
  <div class="w3-border w3-border-black w3-margin-top w3-margin-bottom">
    <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
      <i class="fa fa-database fa-fw" aria-hidden="true"></i>
      <label><%= subtitle %></label>
    </div>
    <div class="w3-container w3-border-top w3-padding-8">
      <div class="w3-row w3-center w3-padding">
        <a class="w3-button w3-dark-black w3-text-white w3-hover-black w3-hover-text-green w3-round" 
          href="/nas/database/edit?alias=">
          <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>
          <b><%= lang.label_new %></b></a>
      </div>
    </div>
    <ul class="w3-ul w3-border w3-striped-ul w3-hoverable">
      <% data.forEach(function(dbs) { %>
      <li class="w3-padding">
        <div class="w3-row">
          <div class="w3-col w3-right" style="width:40px;">
            <span onclick="document.getElementById('current_alias').value='<%= dbs.alias %>';document.getElementById('deleteDbs').style.display='block'" 
              class="w3-text-blue-grey w3-hover-text-red" style="cursor: pointer;">
              <i class="fa fa-times fa-2x fa-fw" aria-hidden="true"></i>
            </span>
          </div>
          <div class="w3-rest">
            <a href="/nas/database/edit?alias=<%= dbs.alias %>" 
              class="w3-button wrap-button w3-block w3-left-align">
              <b><%= dbs.alias %></b> - <%= dbs.engine %></a>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</div>
<div id="deleteDbs" class="w3-modal">
  <div class="w3-modal-content w3-animate-top" style="max-width: 400px;">
    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
      <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
        <i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
        <label><%= lang.label_delete %></label>
        <span onclick="document.getElementById('deleteDbs').style.display='none'" 
          class="w3-hover-text-red w3-right" style="cursor: pointer;">
          <i class="fa fa-window-close fa-fw" aria-hidden="true"></i></span>
      </div>

      <form id="frm_delete" action="/nas/database/list" method="post">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <div class="w3-container w3-padding">
          <p><b><%= lang.msg_delete_text %></b></p>
          <span><%= lang.msg_delete_info %></span>
        </div>
        <input id="current_alias" type="hidden" name="alias" value="">
        <input value="delete" id="update_cmd" name="update_cmd" type="hidden">
      </form>
      
      <div class="w3-container w3-border-top w3-margin-top w3-padding-8 w3-light-grey">
        <div class="w3-row w3-center w3-padding">
          <button  class="w3-button w3-dark-black w3-text-white w3-hover-black w3-hover-text-red w3-round" 
            onclick="document.forms['frm_delete'].submit();"
            onkeydown="if (event.keyCode == 13) document.forms['frm_delete'].submit();">
            <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
            <b><%= lang.label_delete %></b></button>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>