<% include html_head.html %>

<script>
  function msgDelete(alias){
    $("#current_alias").val(alias);
    $("#delete").modal();}
</script>

<div align="center" style="padding-top: 20px;">
  <% if (view === "create") { %>
    <div class="panel panel-primary" style="max-width: 500px;">
      <div class="panel-heading">
        <h2 class="panel-title text-left"><%= subtitle %></h2>
      </div>
      <div class="panel-body text-left" style="padding: 15px 15px 0px;">
        <p>1. <%= lang.li_dbs_create_1 %> 
          <a href="/nas/database/list" ><%= lang.label_databases %></a></p>
        <p>2. <%= lang.li_dbs_create_2 %></p>
        <p>3. <%= lang.li_dbs_create_3 %></p>

        <form id="frm_create" action="/nas/database/create" method="post" style="max-width: 600px;">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">

        <div class="input-group">
          <select name="alias" id="alias" class="form-control">
            <% data.forEach(function(dbs) { %><% if (dbs.alias === form.alias) { %>
            <option value="<%= dbs.alias %>" selected="selected"><%= dbs.alias %></option><% } else{ %>
            <option value="<%= dbs.alias %>"><%= dbs.alias %></option><% } %><% }); %>
          </select>
          <span class="input-group-btn">
            <a class="btn btn-primary" role="button" href="#" 
              onclick="$('#info_create').html('<%= lang.info_start %>');document.forms['frm_create'].submit();">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= lang.li_dbs_start%></a>
          </span>
        </div><!-- /input-group -->
        <div id="info_create" class="jumbotron" style="margin:15px 0px;padding:10px;">
          <% if (form.message) { %><%- form.message %><% } %>
        </div>
        </form>
      </div>
    </div>  
  <% } %>
  <% if (view === "export") { %>
    <div class="panel panel-primary" style="max-width: 500px;">
      <div class="panel-heading">
        <h2 class="panel-title text-left"><%= subtitle %></h2>
      </div>
      <div class="panel-body text-left" style="padding: 15px 15px 0px;">
        <p><span style="color:brown;font-weight: bold;">Nervatura data export</span><br>
          <span style="color:green;font-weight: bold;">NOM objects:</span><br>
          <span style="font-weight:normal;">address, barcode, contact, currency, customer, 
            deffield, employee, event, fieldvalue, groups, item, link, log, movement, numberdef, 
            pattern, payment, place, price, product, project, rate, tax, tool, trans</span><br>
          <span style="color:green;font-weight: bold;">UI objects: </span><br>
          <span>ui_audit, ui_language, ui_menu, ui_menufields, ui_message, ui_report, ui_reportfields, 
            ui_reportsources, ui_userconfig</span></p>
        <p><span style="color:red;font-weight: bold;"><%= lang.not_included %>: </span><br>
          <span>ui_printqueue</span></p>
        <p><%= lang.info_export %></p>
      </div>
      <form id="frm_export" action="/nas/database/export" method="post">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <ul class="list-group" style="margin:0px;">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6 text-left">
                <label for="filename" class="control-label"><%= lang.label_export_file %>:</label>
                <select name="filename" id="filename" class="form-control"><% if (form.filename !== 'download') { %>
                  <option value="alias" selected="selected"><%= lang.label_alias %></option>
                  <option value="download"><%= lang.label_download %></option><% } else{ %>
                  <option value="alias"><%= lang.label_alias %></option>
                  <option value="download" selected="selected"><%= lang.label_download %></option><% } %>
                </select>
              </div>
              <div class="col-sm-6 text-left">
                <label for="format" class="control-label"><%= lang.label_format %>:</label>
                <select name="format" id="format" class="form-control"><% if (form.format !== 'xml') { %>
                  <option value="data" selected="selected">data</option>
                  <option value="xml">xml</option><% } else{ %>
                  <option value="data">data</option>
                  <option value="xml" selected="selected">xml</option><% } %>
                </select>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <select name="alias" id="alias" class="form-control">
                  <% data.forEach(function(dbs) { %><% if (dbs.alias === form.alias) { %>
                  <option value="<%= dbs.alias %>" selected="selected"><%= dbs.alias %></option><% } else{ %>
                  <option value="<%= dbs.alias %>"><%= dbs.alias %></option><% } %><% }); %>
                </select>
              </div>
              <div class="col-sm-6">
                <a class="btn btn-primary" role="button" href="#" 
                  onclick="$('#info_export').html('<%= lang.info_start %>');document.forms['frm_export'].submit();">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= lang.li_dbs_start%></a>
              </div>
            </div>
          </li>
        </ul>
        <div id="info_export" class="jumbotron text-left" style="margin:15px;padding:10px;">
          <% if (form.message) { %><%- form.message %><% } %>
        </div>
      </form>
    </div>
  <% } %>
  <% if (view === "import") { %>
    <div class="panel panel-primary" style="max-width: 500px;">
      <div class="panel-heading">
        <h2 class="panel-title text-left"><%= subtitle %></h2>
      </div>
      <div class="panel-body text-left" style="padding: 15px 15px 0px;">
        <p><%= lang.li_dbs_create_2 %></p>
      </div>
      <form id="frm_import" action="/nas/database/import" method="post" style="max-width: 600px;">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <ul class="list-group" style="margin:0px;">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3 text-left">
                <label for="filename" class="control-label"><%= lang.label_export_file %>:</label>
              </div>
              <div class="col-sm-9">
                <select name="filename" id="alias" class="form-control">
                  <% filenames.forEach(function(filename) { %><% if (filename === form.filename) { %>
                  <option value="<%= filename %>" selected="selected"><%= filename %></option><% } else{ %>
                  <option value="<%= filename %>"><%= filename %></option><% } %><% }); %>
                </select>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-12 text-left">
                <label for="data" class="control-label"><%= lang.label_upload_file %>:</label>
                <input id="data" name="data" type="file" disabled="disabled" class="form-control">
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-6">
                <select name="alias" id="alias" class="form-control">
                  <% data.forEach(function(dbs) { %><% if (dbs.alias === form.alias) { %>
                  <option value="<%= dbs.alias %>" selected="selected"><%= dbs.alias %></option><% } else{ %>
                  <option value="<%= dbs.alias %>"><%= dbs.alias %></option><% } %><% }); %>
                </select>
              </div>
              <div class="col-sm-6">
                <a class="btn btn-primary" role="button" href="#" 
                  onclick="$('#info_import').html('<%= lang.info_start %>');document.forms['frm_import'].submit();">
                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span> <%= lang.li_dbs_start%></a>
              </div>
            </div>
          </li>
        </ul>
        <div id="info_import" class="jumbotron text-left" style="margin:15px;padding:10px;">
          <% if (form.message) { %><%- form.message %><% } %></div>
      </form>
    </div>
  <% } %>
  <% if (view === "edit") { %>
  <div class="panel panel-primary" style="max-width: 500px;">
    <div class="panel-heading">
      <h2 class="panel-title text-left"><%=data.alias===''? lang.label_new : data.alias%></h2>
    </div>
    <form id="frm_edit" action="/nas/database/list" method="post">
      <input name="_csrf" value="<%= _csrf %>" type="hidden">
      <ul class="list-group" style="margin:0px;">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 text-left">
              <label for="alias" class="control-label"><%= lang.label_alias %>:</label>
              <input name="alias" id="alias" value="<%= data.alias %>" class="form-control" type="text">
            </div>
            <div class="col-sm-6 text-left">
              <label for="engine" class="control-label"><%= lang.label_engine %>:</label>
              <select name="engine" id="engine" class="form-control">
                <% engines.forEach(function(engine) { %><% if (engine.key === data.engine) { %>
                  <option value="<%= engine.key %>" selected="selected"><%= engine.label %></option><% } else{ %>
                  <option value="<%= engine.key %>"><%= engine.label %></option><% } %><% }); %>
              </select>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-2 text-left">
              <label for="host" class="control-label"><%= lang.label_host %>:</label>
            </div>
            <div class="col-sm-10">
              <input name="host" id="host" value="<%= data.connect.host %>" 
                class="form-control" type="text">
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 text-left">
              <label for="dbname" class="control-label"><%= lang.label_database %>:</label>
              <input name="dbname" id="dbname" value="<%= data.connect.dbname %>" class="form-control" type="text">
            </div>
            <div class="col-sm-6 text-left">
              <label for="port" class="control-label"><%= lang.label_port %>:</label>
              <input name="port" id="port" value="<%= data.connect.port %>" class="form-control" type="text" >
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 text-left">
              <label for="username" class="control-label"><%= lang.label_username %>:</label>
              <input name="username" id="username" value="<%= data.connect.username %>" class="form-control" type="text">
            </div>
            <div class="col-sm-6 text-left">
              <label for="password" class="control-label"><%= lang.label_password %>:</label>
              <input name="password" id="password" value="<%= data.connect.password %>" class="form-control" type="text">
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6 text-left">
              <label class="control-label"> <%= lang.label_ndi_enabled %></label>
              <select name="ndi_enabled" id="ndi_enabled" class="form-control">
                <% if (data.settings.ndi_enabled) { %>
                <option value="true" selected="selected">true</option>
                <option value="false">false</option><% } else{ %>
                <option value="true">true</option>
                <option value="false" selected="selected">false</option><% } %>
              </select>
            </div>
            <div class="col-sm-6 text-left">
              <label for="encrypt_password" class="control-label"><%= lang.label_encrypt_password %>:</label>
              <input name="encrypt_password" id="encrypt_password" value="<%= data.settings.encrypt_password %>" class="form-control" type="text">
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-12 text-left">
              <label for="dbs_host_restriction" class="control-label"><%= lang.label_dbs_host_restriction %>:</label>
              <textarea id="dbs_host_restriction" name="dbs_host_restriction" class="form-control" ><%= data.settings.dbs_host_restriction %></textarea>
            </div>
          </div>
        </li>
      </ul>
      <input value="update" id="update_cmd" name="update_cmd" type="hidden">
    </form>
    <div class="panel-footer">
      <a role="button" class="btn btn-default" href="/nas/database/list">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        <%= lang.label_cancel %></a>
      <a role="button" class="btn btn-primary" 
        onclick="document.forms['frm_edit'].submit();">
        <span class="glyphicon glyphicon-ok" style="color:#8FBC8F;" aria-hidden="true"></span>
        <%= lang.label_update %></a>
    </div>
  </div>
  <% } %>
  <% if (view === "list") { %>
  <div class="panel panel-primary" style="max-width: 500px;">
    <div class="panel-heading">
      <h2 class="panel-title text-left"><%= subtitle %></h2>
    </div>
    <div class="panel-body">
      <a class="btn btn-primary" role="button" href="/nas/database/edit?alias=">
        <span class="glyphicon glyphicon-plus" style="color: green;" aria-hidden="true"></span>
        <%= lang.label_new %></a>
    </div>
    <ul class="list-group">
      <% data.forEach(function(dbs) { %>
      <li class="list-group-item">
        <div class="input-group">
          <a href="/nas/database/edit?alias=<%= dbs.alias %>" 
            class="btn btn-default-left form-control">
            <%= dbs.alias %> - <span style="font-weight: normal;"><%= dbs.engine %></span></a>
          <span class="input-group-btn">
            <a class="btn btn-primary" role="button" onclick="msgDelete('<%= dbs.alias %>');">
              <span class="glyphicon glyphicon-trash" style="color:red;" aria-hidden="true"></span>
            </a>
          </span>
        </div><!-- /input-group -->
      </li>
      <% }); %>
    </ul>
  </div>
  <div id="delete" class="modal fade" tabindex="-1" role="dialog">
    <form id="frm_delete" action="/nas/database/list" method="post">
      <input name="_csrf" value="<%= _csrf %>" type="hidden">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <a role="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></a>
            <h4 class="modal-title"><%= lang.label_delete %></h4>
          </div>
          <div class="modal-body text-left">
            <h4><%= lang.msg_delete_text %></h4>
            <p><%= lang.msg_delete_info %></p>
          </div>
          <div class="modal-footer">
            <a role="button" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= lang.label_cancel %></a>
            <a role="button" class="btn btn-primary" 
              onclick="document.forms['frm_delete'].submit();">
              <span class="glyphicon glyphicon-trash" style="color:red;" aria-hidden="true"></span>
              <%= lang.label_delete %></a>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
      <input id="current_alias" type="hidden" name="alias" value="">
      <input value="delete" id="update_cmd" name="update_cmd" type="hidden">
    </form>
  </div><!-- /.modal -->
  <% } %>
</div>

<% include html_foot.html %>