<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= lang.title_nas %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/navbar-fixed-side.css" />
    <link rel="stylesheet" href="/stylesheets/nas.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-lg-2">
          <nav class="navbar navbar-inverse navbar-fixed-side">
            <div class="container">
                  <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><%= lang.title_nas %></a>
                  </div>
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li>
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                          <a class="btn btn-primary <%=page_view==='index'? "active" : ""%>" 
                            href="/nas/index" role="button">
                            <span class="glyphicon glyphicon-info-sign" style="color: #F5DEB3;" aria-hidden="true"></span>
                            <%= lang.title_about %></a>
                          <a class="btn btn-primary" 
                            href="/nas/logout" role="button">
                            <span class="glyphicon glyphicon-off" style="color: red;" aria-hidden="true"></span>
                            <%= lang.label_exit %></a>
                        </div>
                      </li>
                      <li><a></a></li>
                      <li <%=page_view==='user'? "class=active" : ""%>><a href="/nas/user/list"><%= lang.label_accounts %></a></li>
                      <li <%=page_view==='database_list' || page_view==='database_edit'? "class=active" : ""%>><a href="/nas/database/list"><%= lang.label_databases %></a></li>
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" 
                          aria-haspopup="true" aria-expanded="false" href="#"><%= lang.label_management %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li <%=page_view==='database_create' ? "class=active" : ""%>><a href="/nas/database/create"><%= lang.label_creation %></a></li>
                          <li <%=page_view==='database_export' ? "class=active" : ""%>><a href="/nas/database/export"><%= lang.label_export %></a></li>
                          <li <%=page_view==='database_import' ? "class=active" : ""%>><a href="/nas/database/import"><%= lang.label_import %></a></li>
                        </ul>
                      </li>
                      <li><a href="/nas/report"><%= lang.label_reports %></a></li>
                      <li <%=page_view==='setting' ? "class=active" : ""%>><a href="/nas/setting/list"><%= lang.label_settings %></a></li>
                      <li><a href="/nas/user/password"><%= lang.label_change_password %></a></li>
                    </ul>
                  </div>
                </div>
          </nav>
        </div>
        <div class="col-sm-9 col-lg-10">
          <% if (flash) { %><div class="flash" style="margin-top: 20px;"><%= flash %></div><% } %>