<% include html_head.html %>
<% include body_page_header.html %>

<div align="center" style="padding-top:30px;">
  <p style="font-weight: bold;">Nervatura <%= lang.title_nas %></p>
  <p><span style="font-weight: bold;"><%= lang.label_username %>: </span><%= user.username %></p>
  <p><span class="vernum">Ver.No: <%= settings.version %></span></p>
  <table>
    <tr>
      <td style="width: 64px;padding-right: 0px;">
        <img src="/images/icon64_ntura_te.png" style="vertical-align: bottom;" />
      </td>
      <td style="width: 120px;color: #616161;vertical-align: middle;font-size: 13px;">
        OPEN SOURCE<br />BUSINESS<br />MANAGEMENT
      </td>
    </tr>
  </table>
  <p><a href="http://www.nervatura.com" style="font-weight: bold;" target="_blank" 
    title="Nervatura"><%= lang.label_ntura_framework %></a></p>
</div>

</div><!-- /content -->
<% include menu.html %>
</div><!-- /page -->
</body></html>