<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= lang.title_nas %></title>
    <link rel="stylesheet" type="text/css" href="/lib/icon/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/w3/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/nas.css">
  </head>
  <body>
    <script>
      function openSideMenu() {
        document.getElementById("sideMenu").style.display = "block";
      }
      function closeSideMenu() {
        document.getElementById("sideMenu").style.display = "none";
      }
    </script>
    <div id="topnav" class="w3-row w3-top w3-dark-black w3-text-white w3-large" >
      <div class="w3-col s4">
        <span class="w3-bar-item w3-text-grey w3-large w3-hide-small">&nbsp;</span>
        <button class="w3-button w3-hide-large w3-hover-black w3-hover-text-green" 
          onclick="openSideMenu()">
          <i class="fa fa-bars fa-fw" aria-hidden="true"></i><b><%= lang.label_menu %></b>&nbsp;</button>
      </div>
      <div class="w3-col s4 w3-center w3-padding">
        <span><b><%= lang.title_nas %></b></span>
      </div>
      <div class="w3-col s4 w3-right-align">
        <a class="w3-button  w3-hover-black w3-hover-text-red" 
          href="/nas/logout">
          <i class="fa fa-power-off fa-fw" aria-hidden="true"></i><b><%= lang.label_exit %></b></a>
      </div>
    </div>
    <div id="sideMenu"
      class="w3-sidebar w3-bar-block w3-collapse w3-dark-black w3-text-white">
      <span class="w3-bar-item w3-text-grey w3-large w3-hide-small"><b><%= settings.version %></b></span>
      <button class="w3-bar-item w3-button w3-hover-dark-black w3-hover-text-red w3-right-align w3-large w3-hide-large" 
        onclick="closeSideMenu()">
        <i class="fa fa-window-close fa-fw" aria-hidden="true"></i></button>
      
      <a href="/nas/user/list" 
        class="w3-bar-item w3-button w3-hover-dark-black w3-hover-text-green w3-border w3-border-black <%= page_view==='user' ? 'w3-black w3-text-khaki' : '' %>">
        <i class="fa fa-user fa-fw" aria-hidden="true"></i>
        <b><%= lang.label_accounts %></b></a>
      <a href="/nas/database/list" 
        class="w3-bar-item w3-button w3-hover-dark-black w3-hover-text-green w3-border w3-border-black <%= page_view==='database_list' || page_view==='database_edit' ? 'w3-black w3-text-khaki' : '' %>">
        <i class="fa fa-database fa-fw" aria-hidden="true"></i>
        <b><%= lang.label_databases %></b></a>
      
      <a href="/nas/report" 
        class="w3-bar-item w3-button w3-hover-dark-black w3-hover-text-green w3-border w3-border-black <%= page_view==='report_list' ? 'w3-black w3-text-khaki' : '' %>">
        <i class="fa fa-file-text fa-fw" aria-hidden="true"></i>
        <b><%= lang.label_reports %></b></a>
      <a href="/nas/setting/list" 
        class="w3-bar-item w3-button w3-hover-dark-black w3-hover-text-green w3-border w3-border-black <%= page_view==='setting' ? 'w3-black w3-text-khaki' : '' %>">
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
        <b><%= lang.label_settings %></b></a>
      <a href="/nas/user/password" 
        class="w3-bar-item w3-button w3-hover-dark-black w3-hover-text-green w3-border w3-border-black <%= page_view==='password' ? 'w3-black w3-text-khaki' : '' %>">
        <i class="fa fa-key fa-fw" aria-hidden="true"></i>
        <b><%= lang.label_change_password %></b></a>
      
      <span class="w3-bar-item w3-text-grey w3-border w3-border-black"><b><%= lang.label_management %></b></span>
      <a href="/nas/database/create" 
        class="w3-bar-item w3-button w3-hover-dark-black w3-hover-text-green w3-border w3-border-black <%= page_view==='database_create' ? 'w3-black w3-text-khaki' : '' %>">
        <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>
        <b><%= lang.label_creation %></b></a>
      <a href="/nas/database/export" 
        class="w3-bar-item w3-button w3-hover-dark-black w3-hover-text-green w3-border w3-border-black <%= page_view==='database_export' ? 'w3-black w3-text-khaki' : '' %>">
        <i class="fa fa-cloud-download fa-fw" aria-hidden="true"></i>
        <b><%= lang.label_export %></b></a>
      <a href="/nas/database/import" 
        class="w3-bar-item w3-button w3-hover-dark-black w3-hover-text-green w3-border w3-border-black <%= page_view==='database_import' ? 'w3-black w3-text-khaki' : '' %>">
        <i class="fa fa-cloud-upload fa-fw" aria-hidden="true"></i>
        <b><%= lang.label_import %></b></a>
    </div>

    <div id="main" class="w3-container w3-main" >
      <% if (flash) { %>
      <div class="w3-panel w3-leftbar w3-border w3-sand w3-padding w3-round">
        <i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>&nbsp;
        <b><%= flash %></b></div>
      <% } %>

      <% if (page_view === 'user') { %>
        <% include user.html %>
      <% } else if (page_view === 'database_list') { %>
        <% include database.html %>
      <% } else if (page_view === 'database_edit') { %>
        <% include database.html %>
      <% } else if (page_view === 'database_create') { %>
        <% include database.html %>
      <% } else if (page_view === 'database_export') { %>
        <% include database.html %>
      <% } else if (page_view === 'database_import') { %>
        <% include database.html %>
      <% } else if (page_view === 'setting') { %>
        <% include setting.html %>
      <% } else if (page_view === 'password') { %>
        <% include password.html %>
      <% } else if (page_view === 'report_list') { %>
        <% include report.html %>
      <% } else if (page_view === 'report_edit') { %>
        <% include report.html %>
      <% } else { %>
        <% include about.html %>
      <% } %>
    </div>

  </body>
</html>