<% include html_head.html %>

<div class="jumbotron" style="margin-top:20px;">
  <div align="center" style="padding-top:20px;">
    <p style="font-weight: bold;">Nervatura <%= lang.title_nas %></p>
    <p><span style="font-weight: bold;"><%= lang.label_username %>: </span><%= user.username %></p>
    <p>Ver.No: <%= settings.version %></p>
    <img class="logo_border" style="vertical-align: bottom;" src="/images/ntura_framework.png" height="64px" />
    <p style="padding-top:20px;"><a href="http://www.nervatura.com" style="font-weight: bold;" target="_blank" 
      title="Nervatura"><%= lang.label_ntura_framework %></a></p>
  </div>
</div>

<% include html_foot.html %>