<div class="w3-modal-content" style="max-width: 400px;">
  <div class="w3-border w3-border-black w3-margin-top w3-margin-bottom">
    <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
      <i class="fa fa-key fa-fw" aria-hidden="true"></i>
      <label><%= subtitle %></label>
    </div>
    <form id="frm_password" action="/nas/user/password" method="post">
      <input name="_csrf" value="<%= _csrf %>" type="hidden">
      <div class="w3-row w3-padding">
        <label for="old"><%= lang.label_old_password %>:</label>
        <input name="old" id="old" value="" 
          class="w3-input w3-border w3-round" type="password" 
          onkeydown="if (event.keyCode == 13) document.forms['frm_password'].submit();">
      </div>
      <div class="w3-row w3-padding">
        <label for="new"><%= lang.label_new_password %>:</label>
        <input name="new" id="new" value="" 
          class="w3-input w3-border w3-round" type="password" 
          onkeydown="if (event.keyCode == 13) document.forms['frm_password'].submit();">
      </div>
      <div class="w3-row w3-padding">
        <label for="verify"><%= lang.label_verify_password %>:</label>
        <input name="verify" id="verify" value="" 
          class="w3-input w3-border w3-round" type="password" 
          onkeydown="if (event.keyCode == 13) document.forms['frm_password'].submit();">
      </div>
    </form>
    <div class="w3-container w3-border-top w3-margin-top w3-padding-8 w3-light-grey">
      <div class="w3-row w3-center w3-padding">
        <button  class="w3-button w3-dark-black w3-text-white w3-hover-black w3-hover-text-green w3-round" 
          onclick="document.forms['frm_password'].submit();"
          onkeydown="if (event.keyCode == 13) document.forms['frm_password'].submit();">
          <i class="fa fa-check fa-fw" aria-hidden="true"></i>
          <b><%= lang.label_change_password %></b></button>
      </div>
    </div>
  </div>
</div>