<% include html_head.html %>
<% include body_page_header.html %>

<style>
  .ui-field-contain>label {
	width: 40%;
  }
  .ui-field-contain>label~[class*=ui-] {
	width: 58%;
  }
  .ui-content .ui-btn {
    text-align: center;
  }
</style>

<div align="center" style="padding-top: 10px;">
  <form id="frm_password" action="/nas/user/password" method="post" style="max-width: 500px;">
    <input name="_csrf" value="<%= _csrf %>" type="hidden">
	<ul data-role="listview" data-inset="true">
	  <li class="ui-field-contain">
	    <label for="old"><%= lang.label_old_password %>:</label>
	    <input id="old" name="old" value="" type="password" 
		  onkeydown="if (event.keyCode == 13) document.forms['frm_password'].submit();">
	  </li>
	  <li class="ui-field-contain">
	    <label for="new"><%= lang.label_new_password %>:</label>
	    <input id="new" name="new" value="" type="password" 
		  onkeydown="if (event.keyCode == 13) document.forms['frm_password'].submit();">
	  </li>
	  <li class="ui-field-contain">
	    <label for="verify"><%= lang.label_verify_password %>:</label>
	    <input id="verify" name="verify" value="" type="password" 
		  onkeydown="if (event.keyCode == 13) document.forms['frm_password'].submit();">
	  </li>
	  <li class="ui-body">
		<fieldset class="ui-grid-a">
		<div class="ui-block-a">
		</div>
		<div class="ui-block-b">
			<a data-ajax="false" data-icon="check" data-iconpos="left" data-role="button" data-theme="b" 
			href="#" onclick="document.forms['frm_password'].submit();" style="color:#8FBC8F;"
			role="button"><%= lang.label_change_password %></a>
		</div>
		</fieldset>
	  </li>
	</ul>
  </form>
</div>

</div><!-- /content -->
<% include menu.html %>
</div><!-- /page -->
</body></html>