<% include html_head.html %>

<script>
  function updateForm(cmd,reportkey){
    if((cmd==="cancel" || cmd==="delete") && document.getElementById("ftemplate")){
      document.getElementById("ftemplate").remove();
      document.getElementById("flabels").remove();}
    $("#update_cmd").val(cmd);
    $("#update_reportkey").val(reportkey);
    document.forms['frm_list'].submit();}
</script>

<div align="center" style="padding-top: 20px;">
  <% if (view === "list") { %>
  <div class="panel panel-primary" style="max-width: 600px;">
    <div class="panel-heading">
      <h2 class="panel-title text-left"><%= subtitle %></h2>
    </div>
    <form id="frm_list" action="/nas/report" method="post">
      <input name="_csrf" value="<%= _csrf %>" type="hidden">
      <div class="panel-body">
        <div class="input-group">
          <div class="input-group-btn">
            <select name="alias" id="alias" class="form-control">
              <% form.database.forEach(function(dbs) { %>
              <% if (dbs.alias === form.alias) { %><option value="<%= dbs.alias %>" selected="selected"><%= dbs.alias %></option>
              <% } else{ %><option value="<%= dbs.alias %>"><%= dbs.alias %></option><% } %><% }); %>
            </select>
          </div>
          <div class="input-group-btn" style="padding-left:10px;">
            <select name="group" id="group" class="form-control">
              <% if (form.groups) { %><% form.groups.forEach(function(group) { %>
              <% if (group === form.group) { %><option value="<%= group %>" selected="selected"><%= group %></option>
              <% } else{ %><option value="<%= group %>"><%= group %></option><% } %><% }); %><% } %>
            </select>
          </div>
          <div class="input-group-btn text-left" style="padding-left:10px;">
            <a role="button" class="btn btn-primary" href="#" class="form-control"
              onclick="document.forms['frm_list'].submit();">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <%= lang.label_search %></a>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody><% if (form.files) { %><% form.files.forEach(function(template) { %>
            <tr>
              <td>
                <p><b><%= template.repname %></b><br>
                  <%= template.description %></p>

                <div class="btn-group" role="group" aria-label="...">
                  <% if (form.alias === '') { %>
                    <a role="button" class="btn btn-primary disabled" href="#">
                      <span class="glyphicon glyphicon-plus" style="color:#8FBC8F;" aria-hidden="true"></span>
                      <%= lang.label_report_install %></a>
                  <% } else{ %>
                    <% if (template.installed) { %>
                      <a role="button" class="btn btn-primary" href="#" 
                        onclick="updateForm('delete','<%= template.reportkey %>');">
                        <span class="glyphicon glyphicon-trash" style="color:#FF7F50;" aria-hidden="true"></span>
                        <%= lang.label_report_delete %></a>
                    <% } else{ %>
                      <a role="button" class="btn btn-primary" href="#" 
                        onclick="updateForm('install','<%= template.reportkey %>');">
                        <span class="glyphicon glyphicon-plus" style="color:#8FBC8F;" aria-hidden="true"></span>
                        <%= lang.label_report_install %></a><% } %><% } %>

                    <a class="btn btn-default <%=template.preview===false ? 'disabled' : ''%>" role="button" data-toggle="modal" 
                      data-target="#<%= template.reportkey %>" title="<%= template.repname %>">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        <%= lang.label_report_preview %></a>
                    <% if (template.preview) { %>
                    <div id="<%= template.reportkey %>" class="modal fade" tabindex="-1" role="dialog">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <a role="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span></a>
                            <h4 id="edit_title" class="modal-title"><%= template.repname %></h4>
                          </div>
                          <img alt="<%= template.repname %>" 
                            src="/report/<%= template.reportkey %>.png" title="<%= template.repname %>">
                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div><!-- /.modal --><% } %>

                    <a role="button" class="btn btn-default <%=template.installed===false ? 'disabled' : ''%>" href="#" 
                      onclick="updateForm('edit','<%= template.reportkey %>');">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                      <%= lang.label_report_edit %></a>
                </div>
              </td>
            </tr><% }); %><% } %>
          </tbody>
        </table>
      </div>
      <div style="display:none;">
        <input value="<%= form.alias %>" name="update_database" type="hidden">
        <input value="" id="update_cmd" name="update_cmd" type="hidden">
        <input value="" id="update_reportkey" name="update_reportkey" type="hidden">
        <input value="" name="update_group" type="hidden">
        <input value="" name="update_repname" type="hidden">
      </div>
    </form>
  </div>
  <% } %>
  <% if (view === "edit") { %>
    <div class="panel panel-primary" style="max-width: 800px;">
      <div class="panel-heading">
        <h2 class="panel-title text-left"><%= form.report.repname %></h2>
      </div>
      <form id="frm_list" action="/nas/report" method="post">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <div class="panel-body">
          <div class="btn-group" role="group" aria-label="...">
            <a role="button" class="btn btn-primary"
              onclick="updateForm('update','<%= form.report.reportkey %>');">
              <span class="glyphicon glyphicon-ok" style="color:#8FBC8F;" aria-hidden="true"></span>
              <%= lang.label_update %></a>
            <a role="button" class="btn btn-primary" style="margin-left:10px;" 
              onclick="updateForm('delete','<%= form.report.reportkey %>');">
              <span class="glyphicon glyphicon-trash" style="color:#FF7F50;" aria-hidden="true"></span>
              <%= lang.label_report_delete %></a>
            <a role="button" class="btn btn-default" style="margin-left:10px;"
              onclick="updateForm('cancel','');">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <%= lang.label_cancel %></a>
          </div>
          <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-heading" role="tab" id="ftemplate">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#xml_template" 
                  aria-expanded="true" aria-controls="xml_template" class="btn-collapse">
                  <span class="glyphicon glyphicon-file" aria-hidden="true"></span> <%= lang.label_xml_template %>
                </a>
              </h4>
            </div>
            <div id="xml_template" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ftemplate">
              <textarea name="template" class="form-control" rows="15"><%= form.report.report %></textarea>
            </div>
          </div>
          
          <div class="panel panel-default" style="margin-top:10px;">
            <div class="panel-heading" role="tab" id="flabels">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#labels" 
                  aria-expanded="true" aria-controls="labels" class="btn-collapse">
                  <span class="glyphicon glyphicon-tag" aria-hidden="true"></span> <%= lang.label_report_labels %>
                </a>
              </h4>
            </div>
            <div id="labels" class="panel-collapse collapse" role="tabpanel" aria-labelledby="flabels">
              <div class="panel-body text-left">
                <% form.labels.forEach(function(label) { %>
                <div style="padding:5px;">
                  <label class="control-label" for="label_<%= label.id %>"><%= label.secname %> - <%= label.fieldname %></label>
                  <input name="label_<%= label.id %>" id="label_<%= label.id %>" value="<%= label.msg %>" class="form-control" type="text">
                </div><% }); %>
              </div>
            </div>
          </div>
        </div>

        <div style="display:none;">
          <input value="<%= form.alias %>" name="update_database" type="hidden">
          <input value="" id="update_cmd" name="update_cmd" type="hidden">
          <input value="" id="update_reportkey" name="update_reportkey" type="hidden">
          <input value="<%= form.report.id %>" name="report_id" type="hidden">
          <input value="<%= form.group %>" name="update_group" type="hidden">
          <input value="<%= form.repname %>" name="update_repname" type="hidden">
        </div>
      </form>
    </div>
  <% } %>
</div>

<% include html_foot.html %>