<% include html_head.html %>
<% include body_page_header.html %>

<script>
  function updateForm(cmd,reportkey){
    $("#update_cmd").val(cmd);
    $("#update_reportkey").val(reportkey);
    document.forms['frm_list'].submit();}
</script>

<div align="center" style="padding-top: 10px;">
  <% if (view === "list") { %>
  <form id="frm_list" action="/nas/report" method="post" style="max-width: 800px;">
    <input name="_csrf" value="<%= _csrf %>" type="hidden">
    <ul data-role="listview" data-inset="false" class="ui-responsive" style="margin: 10px 0px;">
      <li class="ui-grid-b ui-responsive">
        <div class="ui-block-a" style="padding: 0px 3px;">
          <label for="alias"><%= lang.label_alias %>:</label>
          <select name="alias" id="alias"><% form.database.forEach(function(dbs) { %>
            <% if (dbs.alias === form.alias) { %><option value="<%= dbs.alias %>" selected="selected"><%= dbs.alias %></option>
            <% } else{ %><option value="<%= dbs.alias %>"><%= dbs.alias %></option><% } %><% }); %>
          </select>
        </div>
        <div class="ui-block-b" style="padding: 0px 3px;">
          <label for="group"><%= lang.label_report_group %>:</label>
          <select name="group" id="group"><% if (form.groups) { %><% form.groups.forEach(function(group) { %>
              <% if (group === form.group) { %><option value="<%= group %>" selected="selected"><%= group %></option>
              <% } else{ %><option value="<%= group %>"><%= group %></option><% } %><% }); %><% } %>
          </select>
        </div>
        <div class="ui-block-c" style="padding: 0px 3px;">
          <br>
          <a data-ajax="false" data-icon="search" data-iconpos="left" data-role="button" 
			       href="#" onclick="document.forms['frm_list'].submit();" data-theme="b"
			       role="button"><%= lang.label_search %></a>
        </div>
      </li>
    </ul>
    <table class="ui-body-d ui-shadow table-stripe ui-responsive ui-table ui-table-reflow" 
      id="tbl_reports" data-filter="true">
      <thead>
        <tr class="ui-bar-a">
          <th data-colstart="1"></th>
          <th data-colstart="2"></th>
          <th data-colstart="3"></th>
          <th data-colstart="4" data-priority="1"><%= lang.label_report_name %></th>
        </tr>
      </thead>
      <tbody><% if (form.files) { %><% form.files.forEach(function(template) { %>
        <tr>
          <td><% if (form.alias === '') { %>
            <input type="button" data-theme="b" data-icon="plus" data-iconshadow="true" value="Install" disabled="disabled" /><% } else{ %>
              <% if (template.installed) { %>
                <a class="ui-link ui-btn ui-btn-b ui-icon-delete ui-btn-icon-left ui-shadow ui-corner-all" 
                  href="#" onclick="updateForm('delete','<%= template.reportkey %>');" 
                  style="color:#FF7F50;"><%= lang.label_report_delete %></a>
              <% } else{ %>
                <a class="ui-link ui-btn ui-btn-b ui-icon-plus ui-btn-icon-left ui-shadow ui-corner-all" 
                  href="#" onclick="updateForm('install','<%= template.reportkey %>');" 
                  style="color:#8FBC8F;"><%= lang.label_report_install %></a><% } %><% } %>
          </td>
          <td><% if (template.preview) { %>
            <div style="padding-right:5px;">
              <a class="ui-link ui-btn ui-btn-a ui-icon-info ui-btn-icon-left ui-shadow ui-corner-all"  
                data-position-to="window" data-rel="popup" data-transition="fade" 
                href="#<%= template.reportkey %>" title="<%= template.repname %>"><%= lang.label_report_preview %></a>
              <div class="ui-popup ui-body-b ui-overlay-shadow ui-corner-all" 
                data-corners="true" data-overlay-theme="b" data-role="popup" data-theme="b" 
                id="<%= template.reportkey %>" style="padding:10px;padding-top:5px;">
                <a class="ui-btn-right ui-link ui-btn ui-btn-b ui-icon-delete ui-btn-icon-notext ui-shadow ui-corner-all" 
                  data-rel="back" href="#">Close</a>
                <div style="font-weight: bold;padding-bottom:4px;" align="center"><%= template.repname %></div>
                <img alt="<%= template.repname %>" src="/report/<%= template.reportkey %>.png" title="<%= template.repname %>">
              </div>
            </div><% } else{ %>
            <input type="button" data-icon="info" data-iconshadow="true" value="<%= lang.label_report_preview %>" disabled="disabled" /><% } %>
          </div>
          </td>
          <td><% if (template.installed) { %>
            <input type="button" data-icon="edit" data-iconshadow="true" value="<%= lang.label_report_edit %>" 
              onclick="updateForm('edit','<%= template.reportkey %>');"/><% } else{ %>
            <input type="button" data-icon="edit" data-iconshadow="true" value="<%= lang.label_report_edit %>" disabled="disabled" /><% } %>
          </td>
          <td>
            <b class="ui-table-cell-label"><%= lang.label_report_name %></b><span style="font-weight: bold;"><%= template.repname %></span><br><%= template.description %>
          </td>
        </tr><% }); %><% } %>
      </tbody>
    </table>
    <div style="display:none;">
      <input value="<%= form.alias %>" name="update_database" type="hidden">
      <input value="" id="update_cmd" name="update_cmd" type="hidden">
      <input value="" id="update_reportkey" name="update_reportkey" type="hidden">
      <input value="" name="update_group" type="hidden">
      <input value="" name="update_repname" type="hidden">
    </div>
  </form><% } %>
  <% if (view === "edit") { %>
  <form id="frm_list" action="/nas/report" method="post" style="max-width: 800px;">
    <input name="_csrf" value="<%= _csrf %>" type="hidden">
    <ul data-role="listview" class="ui-responsive" data-inset="true" style="margin: 10px 0px;">
      <li data-role="list-divider" data-theme="b" role="heading" 
         style="font-size: 18px; font-weight: bold;"><%= form.report.repname %></li>
      <li class="ui-grid-b ui-responsive">
        <div class="ui-block-a" style="padding: 0px 3px;">
          <a class="ui-link ui-btn ui-btn-b ui-icon-check ui-btn-icon-left ui-shadow ui-corner-all" 
             data-ajax="true" href="#" onclick="updateForm('update','<%= form.report.reportkey %>');" 
             style="color:#8FBC8F;"><%= lang.label_update %></a>
        </div>
        <div class="ui-block-b" style="padding: 0px 3px;">
          <a class="ui-link ui-btn ui-btn-b ui-icon-delete ui-btn-icon-left ui-shadow ui-corner-all" 
            href="#" onclick="updateForm('delete','<%= form.report.reportkey %>');" 
            style="color:#FF7F50;"><%= lang.label_report_delete %></a>
        </div>
        <div class="ui-block-c" style="padding: 0px 3px;">
          <a class="ui-link ui-btn ui-btn-a ui-icon-back ui-btn-icon-left ui-shadow ui-corner-all" 
            href="#" onclick="updateForm('cancel','');"><%= lang.label_cancel %></a>
        </div>
      </li>
      <li style="padding-top: 0px;">
        <div data-role="collapsibleset" data-inset="false" style="margin:0px;">
          <div data-role="collapsible" data-collapsed="true" style="padding:0px;"
            data-collapsed-icon="code" data-expanded-icon="code" >
            <h2 style="margin:0px;"><%= lang.label_xml_template %></h2>
            <textarea name="template" style="margin:0px;"><%= form.report.report %></textarea>
          </div>
          <div data-role="collapsible" data-collapsed="true" 
            data-collapsed-icon="tag" data-expanded-icon="tag" >
            <h2 style="margin:0px;"><%= lang.label_report_labels %></h2><% form.labels.forEach(function(label) { %>
              <div>
                <label for="label_<%= label.id %>"><%= label.secname %> - <%= label.fieldname %></label>
                <input name="label_msg" id="label_<%= label.id %>" value="<%= label.msg %>" data-clear-btn="true" type="text">
                <input name="label_id" value="<%= label.id %>" type="hidden">
              </div><% }); %>
          </div>
        </div>
      </li>
    </ul>
    <div style="display:none;">
      <input value="<%= form.alias %>" name="update_database" type="hidden">
      <input value="" id="update_cmd" name="update_cmd" type="hidden">
      <input value="" id="update_reportkey" name="update_reportkey" type="hidden">
      <input value="<%= form.report.id %>" name="report_id" type="hidden">
      <input value="<%= form.group %>" name="update_group" type="hidden">
      <input value="<%= form.repname %>" name="update_repname" type="hidden">
    </div>
  </form><% } %>
</div>

</div><!-- /content -->
<% include menu.html %>
</div><!-- /page -->
</body></html>