<script>
  function msgDelete(fieldname){
    document.getElementById('current_fieldname').value = fieldname;
    document.getElementById('deleteSetting').style.display = 'block';
  }
  function msgNew(){
    document.getElementById('edit_title').innerHTML = "<%= lang.label_new %>";
    document.getElementById('edit_fieldname').value = "";
    document.getElementById('edit_description').innerHTML = "";
	  document.getElementById('edit_value').innerHTML = "";
    document.getElementById('editSetting').style.display = 'block';
  }
  function msgEdit(fieldname, description, value){
    document.getElementById('edit_title').innerHTML = "<%= lang.label_edit %>";
    document.getElementById('edit_fieldname').value = fieldname;
    document.getElementById('edit_description').innerHTML = description;
	  document.getElementById('edit_value').innerHTML = value;
    document.getElementById('editSetting').style.display = 'block';
  }
</script>

<div class="w3-modal-content" style="max-width: 500px;">
  <div class="w3-border w3-border-black w3-margin-top w3-margin-bottom">
    <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
      <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
      <label><%= subtitle %></label>
    </div>
    <div class="w3-container w3-border-top w3-padding-8">
      <div class="w3-row w3-center w3-padding">
        <a class="w3-button w3-dark-black w3-text-white w3-hover-black w3-hover-text-green w3-round" 
           onclick="msgNew();">
          <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>
          <b><%= lang.label_new %></b></a>
      </div>
    </div>
    <ul class="w3-ul w3-border w3-striped-ul w3-hoverable">
      <% settings.forEach(function(setting) { %>
      <li class="w3-padding">
        <div class="w3-row">
          <div class="w3-col w3-right" style="width:40px;">
            <span onclick="msgDelete('<%= setting.fieldname %>');" 
              class="w3-text-blue-grey w3-hover-text-red" style="cursor: pointer;">
              <i class="fa fa-times fa-2x fa-fw" aria-hidden="true"></i>
            </span>
          </div>
          <div class="w3-rest">
            <a onclick="msgEdit('<%= setting.fieldname %>','<%= setting.description %>','<%= setting.value %>');" 
              class="wrap-button w3-block w3-left-align">
              <span class="w3-hover-text-green"><b><%= setting.fieldname %></b></span><br />
              <span class="w3-text-black" ><%= String(setting.value).substr(0,25) %></span></a>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</div>

<div id="deleteSetting" class="w3-modal">
  <div class="w3-modal-content w3-animate-top" style="max-width: 400px;">
    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
      <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
        <i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
        <label><%= lang.label_delete %></label>
        <span onclick="document.getElementById('deleteSetting').style.display='none'" 
          class="w3-hover-text-red w3-right" style="cursor: pointer;">
          <i class="fa fa-window-close fa-fw" aria-hidden="true"></i></span>
      </div>

      <form id="frm_delete" action="/nas/setting/delete" method="post">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <div class="w3-container w3-padding">
          <p><b><%= lang.msg_delete_text %></b></p>
          <span><%= lang.msg_delete_info %></span>
        </div>
        <input id="current_fieldname" type="hidden" name="fieldname" value="">
      </form>
      
      <div class="w3-container w3-border-top w3-margin-top w3-padding-8 w3-light-grey">
        <div class="w3-row w3-center w3-padding">
          <button  class="w3-button w3-dark-black w3-text-white w3-hover-black w3-hover-text-red w3-round" 
            onclick="document.forms['frm_delete'].submit();"
            onkeydown="if (event.keyCode == 13) document.forms['frm_delete'].submit();">
            <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
            <b><%= lang.label_delete %></b></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="editSetting" class="w3-modal">
  <div class="w3-modal-content w3-animate-top" style="max-width: 400px;">
    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
      <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
        <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
        <label id="edit_title"><%= lang.label_edit %></label>
        <span onclick="document.getElementById('editSetting').style.display='none'" 
          class="w3-hover-text-red w3-right" style="cursor: pointer;">
          <i class="fa fa-window-close fa-fw" aria-hidden="true"></i></span>
      </div>
      <form id="frm_update" action="/nas/setting/update" method="post">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <ul class="w3-ul">
          <li class="w3-padding-small">
            <div class="w3-row-padding">
              <div class="w3-col w3-hide-small" style="width:100px; padding-top:8px">
                <label><%= lang.label_fieldname %>:</label>
              </div>
              <div class="w3-rest w3-padding-small">
                <label class="w3-hide-medium w3-hide-large"><%= lang.label_fieldname %>:</label>
                <input name="fieldname" id="edit_fieldname" value="" 
                  class="w3-input w3-border w3-round" type="text">
              </div>
            </div>
          </li>
          <li class="w3-padding-small">
            <div class="w3-row">
              <div class="w3-col w3-padding-small">
                <label><%= lang.label_description %>:</label>
                <textarea id="edit_description" name="description" 
                  class="w3-input w3-border w3-round" ></textarea>
              </div>
            </div>
          </li>
          <li class="w3-padding-small">
            <div class="w3-row">
              <div class="w3-col w3-padding-small">
                <label><%= lang.label_value %>:</label>
                <textarea id="edit_value" name="value" 
                  class="w3-input w3-border w3-round" ></textarea>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="w3-container w3-border-top w3-margin-top w3-padding-8 w3-light-grey">
        <div class="w3-row w3-center w3-padding">
          <button  class="w3-button w3-dark-black w3-text-white w3-hover-black w3-hover-text-green w3-round" 
            onclick="document.forms['frm_update'].submit();">
            <i class="fa fa-check fa-fw" aria-hidden="true"></i>
            <b><%= lang.label_update %></b></button>
        </div>
      </div>
    </div>
  </div>
</div>