
<div class="w3-modal-content" style="max-width: 500px;">
  <div class="w3-border w3-border-black w3-margin-top w3-margin-bottom">
    <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
      <i class="fa fa-user fa-fw" aria-hidden="true"></i>
      <label><%= subtitle %></label>
    </div>
    <div class="w3-container w3-border-top w3-padding-8">
      <div class="w3-row w3-center w3-padding">
        <button  class="w3-button w3-dark-black w3-text-white w3-hover-black w3-hover-text-green w3-round" 
          onclick="document.getElementById('newUser').style.display='block'">
          <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>
          <b><%= lang.label_new %></b></button>
      </div>
    </div>
    <ul class="w3-ul w3-border w3-striped-ul w3-hoverable">
      <% users.forEach(function(username) { %>
      <li class="w3-padding">
        <div class="w3-row">
          <div class="w3-col w3-right" style="width:40px;">
            <span onclick="document.getElementById('current_user').value='<%= username %>';document.getElementById('deleteUser').style.display='block'" 
              class="w3-text-blue-grey w3-hover-text-red" style="cursor: pointer;">
              <i class="fa fa-times fa-2x fa-fw" aria-hidden="true"></i>
            </span>
          </div>
          <div class="w3-rest w3-large">
            <label><%= username %></label>
          </div>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</div>

<div id="newUser" class="w3-modal">
  <div class="w3-modal-content w3-animate-top" style="max-width: 400px;">
    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
      <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
        <i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>
        <label><%= lang.label_new %></label>
        <span onclick="document.getElementById('newUser').style.display='none'" 
          class="w3-hover-text-red w3-right" style="cursor: pointer;">
          <i class="fa fa-window-close fa-fw" aria-hidden="true"></i></span>
      </div>

      <form id="frm_new" action="/nas/user/list" method="post">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <div class="w3-row w3-padding">
          <label for="username"><%= lang.label_username %>:</label>
          <input name="username" id="username" value="" 
            class="w3-input w3-border w3-round" type="text">
        </div>
        <div class="w3-row w3-padding">
          <label for="password"><%= lang.label_password %>:</label>
          <input name="password" id="password" value="" 
            class="w3-input w3-border w3-round" type="password">
        </div>
        <input value="new" id="update_cmd" name="update_cmd" type="hidden">
      </form>
      
      <div class="w3-container w3-border-top w3-margin-top w3-padding-8 w3-light-grey">
        <div class="w3-row w3-center w3-padding">
          <button  class="w3-button w3-dark-black w3-text-white w3-hover-black w3-hover-text-green w3-round" 
            onclick="document.forms['frm_new'].submit();"
            onkeydown="if (event.keyCode == 13) document.forms['frm_new'].submit();">
            <i class="fa fa-check fa-fw" aria-hidden="true"></i>
            <b><%= lang.label_new %></b></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="deleteUser" class="w3-modal">
  <div class="w3-modal-content w3-animate-top" style="max-width: 400px;">
    <div class="w3-card-4 w3-margin-top w3-margin-bottom">
      <div class="w3-container w3-padding w3-dark-black w3-text-white w3-border-black">
        <i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>
        <label><%= lang.label_delete %></label>
        <span onclick="document.getElementById('deleteUser').style.display='none'" 
          class="w3-hover-text-red w3-right" style="cursor: pointer;">
          <i class="fa fa-window-close fa-fw" aria-hidden="true"></i></span>
      </div>

      <form id="frm_delete" action="/nas/user/list" method="post">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <div class="w3-container w3-padding">
          <p><b><%= lang.msg_delete_text %></b></p>
          <span><%= lang.msg_delete_info %></span>
        </div>
        <input id="current_user" type="hidden" name="username" value="">
        <input value="delete" id="update_cmd" name="update_cmd" type="hidden">
      </form>
      
      <div class="w3-container w3-border-top w3-margin-top w3-padding-8 w3-light-grey">
        <div class="w3-row w3-center w3-padding">
          <button  class="w3-button w3-dark-black w3-text-white w3-hover-black w3-hover-text-red w3-round" 
            onclick="document.forms['frm_delete'].submit();"
            onkeydown="if (event.keyCode == 13) document.forms['frm_delete'].submit();">
            <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
            <b><%= lang.label_delete %></b></button>
        </div>
      </div>
    </div>
  </div>
</div>
