.list {
  overflow-x: auto;
  width: 100%;
  font-size: 14px;
  border-bottom: none!important;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listRow {
  display: table;
  width: 100%;
}

.editCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 45px;
  cursor: pointer;
}

.editCell:hover {
  color: var(--success);
}

.valueCell {
  display: table-cell;
  vertical-align: middle;
}

.deleteCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 45px;
  cursor: pointer;
}

.deleteCell:hover {
  color: var(--danger);
}

.label {
  width: 100%;
  font-weight: bold;
  padding: 5px 8px 2px;
}

.value {
  width: 100%;
  padding: 2px 8px 5px;
}

.cursor {
  cursor: pointer;
}

.filterInput {
  width: 100%;
  border-radius: 0px!important;
  margin-top: 1px;
  margin-bottom: 2px;
}

.addButton {
  border-radius: 0px!important;
  padding: 8px 16px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 2px;
}