{{ $original := .Get "src" }}
<!--
<link rel="stylesheet" type="text/css" href="{{ "/css/swagger-ui.css" | relURL }}">
<div id="swagger-ui"></div>
<script src="{{ "/js/swagger-ui-bundle.js" | relURL }}" charset="UTF-8"></script>
-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swagger-ui-dist@latest/swagger-ui.min.css" />
<link rel="stylesheet" href="/css/swagger-dark-modern-ui.css" />
<div id="swagger-ui"></div>
<script src="https://cdn.jsdelivr.net/npm/swagger-ui-dist@latest/swagger-ui-bundle.min.js" crossorigin></script>
<script>
window.onload = function() {
  const ui = SwaggerUIBundle({
    url: {{  $original | absURL }},
    dom_id: '#swagger-ui'
  });

  window.ui = ui;
};
</script>
