.inputStyle {
  border-radius: 3px;
  border-width: 1px;
  font-size: 14px;
  padding: 8px;
  display: block;
}

.inputStyle[type=color]{
  height: 34px;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.inputStyle:disabled {
  opacity: 0.5;
}

.inputStyle::placeholder, .inputStyle::-ms-input-placeholder {
  opacity: 0.5;
}