.label_info_left {
  padding: 2px 0px 0px 3px;
}

.label_info_right {
  text-align: right;
}

.label_icon_left {
  text-align: center;
}

.label_icon_right {
  text-align: right;
}

.centered {
  margin: auto;
}