.tabButton {
  border-radius: 0px;
  margin-top: 2px;
}

.rtfEditor {
  width: 100%;
  min-height: 65px;
}

.barButton {
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor:pointer;
  border-radius: 0px;
  border-width: 1px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-left: -0.7px;
}

.barButton:focus {
  outline: none;
}

.activeStyle {
  background-color: var(--info)!important;
}

.actionbar {
  padding: 4px 12px;
  text-align: center;
}

.viewPanel {
  width: 100%;
}

.formPanel {
  width: 100%;
  border-top: none;
  border-bottom: none;
  border-radius: 0px;
}