/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

body, html {
  height: 100%;;
}

.bgimg-home, .bgimg-about, .bgimg-touch, .bgimg-terms, .bgimg-eula {
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-framework, .bgimg-contact, .bgimg-download, .bgimg-video {
  background-attachment: fixed;
  background-position: top;
  background-repeat: repeat;
  background-size: contain;
}

.bgimg-path {
  background-attachment: scroll;
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
}

/* Turn off scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-home, .bgimg-about, .bgimg-framework, .bgimg-touch, .bgimg-download, 
  .bgimg-video, .bgimg-contact, .bgimg-terms, .bgimg-eula, .bgimg-path {
    background-attachment: scroll;
  }
}

.left { float: left; }
.right { float: right; }
.align-left { text-align: left; }
.align-right { text-align: right; }

.container { 
  padding: 0px 4px; 
}

.row {
  display: table;
  margin: auto;
  width: auto;
}

.row::before {
  content: "";
  display: table;
  clear: both;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.cell {
  display: table-cell;
  vertical-align: middle;
}

@media (max-width:600px){
  .mobile{ display:block; width:100%!important }
}

.navbar {
  z-index: 5;
  position: fixed;
  display: table;
  top: 0;
  width: 100%;
  height: $navbar-height;
  padding: 0px 8px;
  background-color: $navbar-background;
  color: $navbar-color;
  font-size: 14px;
  overflow:hidden;
  -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; 
  -moz-user-select: none; -ms-user-select: none; user-select: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar::before {
  content: "";
  display: table;
  clear: both;
};

.navbar::after {
  content: "";
  display: table;
  clear: both;
};

.navbar a span {
  font-size: 17px;
  text-align: center;
  padding: 8px 6px;
  font-weight: bold;
  vertical-align: middle;
  color: rgba($navbar-color-rgb,0.85);
  width: auto;
  display: table-cell;
  cursor: pointer;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.navbar a span:hover {
  color: $navbar-color;
}

.home-page {
  margin-top: $navbar-height;
  min-width: 20rem;
  flex-grow: 1;
}

.infoRow {
  margin: 12px auto;
}

.contactCol {
  font-size: 12px;
}

.paypal {
  text-align: center;
}

.logo {
  max-width: 110px;
}

.markdown pre {
  color: rgb(191, 199, 213);
  background-color: rgb(41, 45, 62);
}

.markdown code {
  padding-top: 3px;
  padding-bottom: 3px;
}