.toggleOn {
  color: var(--success);
}

.toggle {
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.toggleOff {
  opacity: 0.5;
}

.toggleDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.link {
  width: 100%;
  border-radius: 3px;
  padding: 6px 8px 5px;
  vertical-align: middle;
  min-height: 35px;
}

.lnkText {
  font-size: 14px;
  cursor: pointer;
  color: var(--info);
}

.lnkText:hover {
  text-decoration: underline;
}

.searchCol {
  width: 38px;
}

.timesCol {
  width: 34px;
}

.selectorButton {
  padding: 7px 8px;
}

.textareaStyle{
  border-radius: 3px;
  overflow: auto;
  padding: 8px;
}

.textareaStyle:disabled {
  opacity: 0.5;
}

.textareaStyle::placeholder, .textareaStyle::-ms-input-placeholder {
  opacity: 0.5;
}