.labelRow {
  color: rgba(var(--info-rgb),0.6);
}

.reportField {
  cursor: pointer;
}

.toggle {
  text-align: center;
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
}

.toggleOn {
  color: var(--success);
}

.toggleOff {
  opacity: 0.5;
}

.toggleDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.leftbar{
  border-left: 8px solid rgba(var(--warning-rgb),0.8)!important;
  padding: 8px;
  font-style: italic;
  font-size: 13px;
}

.fieldCell {
  width: 150px;
}

.fieldvalueDelete {
  cursor: pointer;
}

.fieldvalueDelete:hover {
  color: var(--danger);
}

.inputStyle {
  border-radius: 3px;
  border-width: 1px;
  font-size: 14px;
  padding: 8px;
  display: block;
}

.inputStyle:disabled {
  opacity: 0.5;
}

.inputStyle::placeholder, .inputStyle::-ms-input-placeholder {
  opacity: 0.5;
}

.textareaStyle{
  border-radius: 3px;
  overflow: auto;
  padding: 8px;
}

.textareaStyle:disabled {
  opacity: 0.5;
}

.textareaStyle::placeholder, .textareaStyle::-ms-input-placeholder {
  opacity: 0.5;
}