<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/lib/icon/css/font-awesome.min.css">
    <link rel="stylesheet" href="/lib/flatpickr/flatpickr.min.css" />
    <link rel="stylesheet" type="text/css" href="/lib/w3/w3.css">
    <link rel="stylesheet" href="/css/wizard.css" />
    
    <script type="text/javascript" src="/lib/flatpickr/flatpickr.min.js"></script>
    <script type="text/javascript" src="/js/wizard.js"></script>
  </head>
  <body>
    <script>
      function setAccordion(id) {
        var keys = ["settings","view","update","delete"]
        var x = document.getElementById(id);
        if(id !== "settings"){
          document.getElementById("selected_tab").value = id; }
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
          keys.forEach(function(key) {
            var tab = document.getElementById(key);
            if(tab && key !== id){
              tab.className = tab.className.replace(" w3-show", "");
            }
          });
        } else {
          x.className = x.className.replace(" w3-show", ""); }
      }
    </script>
    <div class="w3-bar w3-dark-black">
      <div class="w3-bar-item w3-right w3-hide-small">
        <div class="w3-padding">
          <span >Ver.No:</span><br>
          <span ><%= settings.version %></span>
        </div>
      </div>
      <a class="w3-bar-item w3-right w3-padding-small w3-hide-medium w3-hide-small">
        <img src="/images/ntura_framework.png" height="64px" /></a>
      <label class="w3-bar-item w3-xxlarge w3-padding" >Data Interface Wizard</label>
    </div>

    <div id="main" class="w3-container w3-padding w3-main w3-margin-bottom" >
      <% if (flash) { %>
      <div class="w3-panel w3-leftbar w3-border w3-sand w3-padding w3-round">
        <i class="fa fa-exclamation-triangle fa-fw" aria-hidden="true"></i>&nbsp;
        <b><%= flash %></b></div>
      <% } %>

      <form id="frm_wizard" action="/ndi/wizard/index" method="post" 
        onsubmit="event.preventDefault(); return false;">
        <input name="_csrf" value="<%= _csrf %>" type="hidden">
        <ul class="w3-ul w3-striped-ul">
          <li class="w3-bar w3-border-top w3-border-left w3-border-right">
            <div class="w3-bar-item" style="padding:2px;">
              <select name="nom" id="nom" 
                class="w3-select w3-round w3-dark-grey w3-border w3-border-grey bold"
                onchange="document.forms['frm_wizard'].submit();">
                <% lst_nom.forEach(function(nom) { %><% if (nom === data.nom) { %>
                <option value="<%= nom %>" selected="selected"><%= nom.toUpperCase() %></option><% } 
                else{ %><option value="<%= nom %>"><%= nom.toUpperCase() %></option><% } %>
                <% }); %>
              </select>
            </div>
            <div class="w3-bar-item" style="padding:2px;">
              <select name="selected_tab" id="selected_tab" 
                class="w3-select w3-round w3-dark-grey w3-border w3-border-grey bold">
                <% view_tabs.forEach(function(tab) { %>
                <option value="<%= tab %>" <%=tab===data.selected_tab? "selected=selected" : ""%> ><%=tab.toUpperCase() %></option><% }); %>
              </select>
            </div>
            <div class="w3-bar-item" style="padding:2px;">
              <a class="w3-button w3-round bold w3-dark-black w3-hover-black w3-hover-text-green w3-left-align" 
                onclick="var key = document.getElementById('selected_tab').value; if(key === 'view'){createView();} else {createUpdate(key);}" >
                <i class="fa fa-check fa-fw" aria-hidden="true"></i>
                Create</a>
            </div>
            <div class="w3-bar-item" style="padding:2px;">
              <a class="w3-button w3-hover-white w3-hover-text-blue w3-text-blue-grey w3-left-align"
                href="/docs/ndi#<%= data.nom %>_fields" target="_blank" >
                <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
                <%= data.nom.toUpperCase() %> type</a>
            </div>
          </li>
          <li class="w3-border-left w3-border-right w3-border-bottom">
            <div class="w3-row">
              <div class="w3-col" style="padding:2px;" >
                <a class="w3-button w3-border w3-round bold w3-light-grey w3-text-dark-grey w3-hover-light-grey w3-hover-border-green w3-hover-text-green" 
                  onclick="sendToServer();">
                  <i class="fa fa-share fa-fw" aria-hidden="true"></i>
                  SEND NDI URL</a>
                <textarea id="rs_url" class="w3-input w3-border w3-round margin-small-top w3-small" 
                  rows="3"></textarea>
              </div>
            </div>
            <div class="w3-row">
              <div class="w3-half" style="padding:2px;" >
                <label for="rs_server" class="w3-padding w3-border w3-round" style="display: inline-block;">SERVER SIDE</label>
                <textarea id="rs_server" class="w3-input w3-border w3-round margin-small-top w3-small" 
                  readonly="readonly" rows="4"></textarea>
              </div>
              <div class="w3-half" style="padding:2px;">
                <label for="rs_server" class="w3-padding w3-border w3-round" style="display: inline-block;">JSON-RPC</label>
                <textarea id="rs_json" class="w3-input w3-border w3-round margin-small-top w3-small" 
                  readonly="readonly" rows="4"></textarea>
              </div>
            </div>
          </li>
        </ul>

        <button onclick="setAccordion('settings')" 
          class="w3-button w3-light-grey w3-block w3-border bold w3-left-align margin-small-top w3-hover-light-grey w3-hover-border-green w3-hover-text-green">
          <i class="fa fa-cog fa-fw" aria-hidden="true"></i>SETTINGS
        </button>
        <div id="settings" class="w3-white w3-border-left w3-border-right w3-border-bottom w3-hide">
          <ul class="w3-ul">
            <li class="w3-row-padding">
              <div class="w3-third w3-padding-small">
                <label for="database">database</label>
                <input name="database" id="database" value="<%= data.database %>" 
                  class="w3-input w3-border w3-round margin-small-top" type="text">
              </div>
              <div class="w3-third w3-padding-small">
                <label for="username">username</label>
                <input name="username" id="username" value="<%= data.username %>" 
                  class="w3-input w3-border w3-round margin-small-top" type="text">
              </div>
              <div class="w3-third w3-padding-small">
                <label for="password">password</label>
                <input name="password" id="password" value="<%= data.password %>" 
                  class="w3-input w3-border w3-round margin-small-top" type="password">
              </div>
            </li>
            <li class="w3-row-padding">
              <div class="w3-third w3-padding-small">
                <label for="code">code</label>
                <select name="code" id="code" 
                  class="w3-select w3-border w3-bar-item w3-round margin-small-top">
                  <option value=""></option>
                  <% url_code.forEach(function(code) { %>
                  <% if (code === data.code) { %>
                    <option value="<%= code %>" selected="selected"><%= code %></option>
                  <% } else{ %>
                  <option value="<%= code %>"><%= code %></option><% } %><% }); %>
                </select>
              </div>
              <div class="w3-third w3-padding-small">
                <label for="datatype">datatype</label>
                <input name="datatype" id="datatype" value="<%= data.nom %>" 
                  class="w3-input w3-border w3-round margin-small-top" 
                  disabled="disabled" type="text">
              </div>
              <div class="w3-third w3-padding-small">
                <label for="use_deleted">use_deleted</label>
                <select name="use_deleted" id="use_deleted" 
                  class="w3-select w3-border w3-bar-item w3-round margin-small-top">
                  <% if (data.use_deleted === 'true') { %>
                  <option value="true" selected="selected">true</option>
                  <option value="false">false</option><% } else{ %>
                  <option value="true">true</option>
                  <option value="false" selected="selected">false</option><% } %>
                </select>
              </div>
            </li>
          </ul>
        </div>

        <button onclick="setAccordion('view')" 
          class="w3-button w3-light-grey w3-block w3-border bold w3-left-align margin-small-top w3-hover-light-grey w3-hover-border-green w3-hover-text-green">
          <i class="fa fa-search fa-fw" aria-hidden="true"></i>VIEW
        </button>
        <div id="view" class="w3-white w3-border-left w3-border-right w3-border-bottom w3-hide <%=data.selected_tab==='view'? 'w3-show' : ''%> ">
          <ul class="w3-ul">
            <li class="w3-bar">
              <div class="w3-bar-item w3-padding-small">
                <div><label for="output">output</label></div>
                <select name="output" id="output" 
                  class="w3-select w3-round w3-border" style="width:60px;">
                  <% view_output.forEach(function(output) { %>
                  <option value="<%= output %>" <%=output===data.output? "selected=selected" : ""%> ><%=output %></option><% }); %>
                </select>
              </div>
              <div class="w3-bar-item w3-padding-small">
                <div><label for="cross_tab" >cross_tab</label></div>
                <select name="cross_tab" id="cross_tab" 
                  class="w3-select w3-round w3-border" style="width:60px;">
                  <% if (data.cross_tab === 'true') { %>
                  <option value="true" selected="selected">true</option>
                  <option value="false">false</option><% } else{ %>
                  <option value="true">true</option>
                  <option value="false" selected="selected">false</option><% } %>
                </select>
              </div>
              <div class="w3-bar-item w3-padding-small">
                <div><label for="show_id">show_id</label></div>
                <select name="show_id" id="show_id" 
                  class="w3-select w3-round w3-border" style="width:60px;">
                  <% if (data.show_id === 'true') { %>
                  <option value="true" selected="selected">true</option>
                  <option value="false">false</option>
                  <% } else{ %>
                  <option value="true">true</option>
                  <option value="false" selected="selected">false</option><% } %>
                </select>
              </div>
              <% if (typeof view_nervatype[data.nom] !== 'undefined') { %><% if (data.nom === 'link') { %>
                <div class="w3-bar-item w3-padding-small">
                  <div><label for="view_nervatype1">nervatype1</label></div>
                  <select id="view_nervatype1" name="view_nervatype1" 
                    class="w3-select w3-round w3-border" style="width:100px;">
                    <option value=""></option><% view_nervatype[data.nom].forEach(function(nervatype) { %>
                    <option value="<%= nervatype %>" <%=data.view_nervatype1===nervatype? "selected=selected" : ""%>><%= nervatype %></option><% }); %>
                  </select>
                </div>
                <div class="w3-bar-item w3-padding-small">
                  <div><label for="view_nervatype2">nervatype2</label></div>
                  <select id="view_nervatype2" name="view_nervatype2" 
                    class="w3-select w3-round w3-border" style="width:100px;">
                    <option value=""></option><% typeof view_nervatype[data.nom].forEach(function(nervatype) { %>
                    <option value="<%= nervatype %>" <%=data.view_nervatype2===nervatype? "selected=selected" : ""%>><%= nervatype %></option><% }); %>
                  </select>
                </div>
              <% } else{ %>
                <div class="w3-bar-item w3-padding-small">
                  <div><label for="view_nervatype">nervatype</label></div>
                  <select id="view_nervatype" name="view_nervatype" 
                    class="w3-select w3-round w3-border" style="width:100px;">
                    <option value=""></option><% view_nervatype[data.nom].forEach(function(nervatype) { %>
                    <option value="<%= nervatype %>" <%=data.view_nervatype===nervatype? "selected=selected" : ""%>><%= nervatype %></option><% }); %>
                  </select>
                </div><% } %><% } %>
              <% if (lst_no_deffield.indexOf(data.nom)===-1) { %>
                <div class="w3-bar-item w3-padding-small">
                  <div><label for="no_deffield">no_deffield</label></div>
                  <select name="no_deffield" id="no_deffield" 
                    class="w3-select w3-round w3-border" style="width:60px;">
                    <% if (data.no_deffield === 'true') { %>
                    <option value="true" selected="selected">true</option>
                    <option value="false">false</option>
                    <% } else{ %>
                    <option value="true">true</option>
                    <option value="false" selected="selected">false</option><% } %>
                  </select>
                </div><% } %>
            </li>
            <li class="w3-row-padding">
              <div class="w3-half w3-padding-small">
                <label for="where">where</label>
                <input name="where" id="where" value="<%= data.where %>" 
                  class="w3-input w3-border w3-round margin-small-top" type="text">
              </div>
              <div class="w3-half w3-padding-small">
                <label for="orderby">orderby</label>
                <input name="orderby" id="orderby" value="<%= data.orderby %>" 
                  class="w3-input w3-border w3-round margin-small-top" type="text">
              </div>
            </li>
            <li class="w3-row-padding">
              <div class="w3-half w3-padding-small">
                <label for="header">header</label>
                <input name="header" id="header" value="<%= data.header %>" 
                  class="w3-input w3-border w3-round margin-small-top" type="text">
              </div>
              <div class="w3-half w3-padding-small">
                <label for="columns">columns</label>
                <input name="columns" id="columns" value="<%= data.columns %>" 
                  class="w3-input w3-border w3-round margin-small-top" type="text">
              </div>
            </li>
          </ul>
        </div>

        <% if (data.nom !== 'sql') { %>
        <button onclick="setAccordion('update')" 
          class="w3-button w3-light-grey w3-block w3-border bold w3-left-align margin-small-top w3-hover-light-grey w3-hover-border-green w3-hover-text-green">
          <i class="fa fa-edit fa-fw" aria-hidden="true"></i>INSERT/UPDATE
        </button>
        <div id="update" class="w3-white w3-border-left w3-border-right w3-border-bottom w3-hide <%=data.selected_tab==='update'? 'w3-show' : ''%>">
          <ul class="w3-ul">
            <li class="w3-bar">
              <div class="w3-bar-item w3-padding-small">
                <div><label for="update_rows" >rows</label></div>
                <select id="update_rows" name="update_rows" 
                  class="w3-select w3-round w3-border" style="width:40px;"
                  onchange="document.forms['frm_wizard'].submit();">
                  <% for (var i = 1; i < 10; i++) { %>
                  <option value="<%= i %>" <%=parseInt(data.update_rows,10)===i? "selected=selected" : ""%> ><%= i %></option><% } %>
                </select>
              </div>
              <div class="w3-bar-item w3-padding-small">
                <div><label for="insert_row" >insert_row</label></div>
                <select name="insert_row" id="insert_row" 
                  class="w3-select w3-round w3-border" style="width:60px;">
                  <% if (data.insert_row === 'true') { %>
                  <option value="true" selected="selected">true</option>
                  <option value="false">false</option><% } else{ %>
                  <option value="true">true</option>
                  <option value="false" selected="selected">false</option><% } %>
                </select>
              </div>
              <% if (lst_no_deffield.indexOf(data.nom)===-1) { %>
              <div class="w3-bar-item w3-padding-small">
                <div><label for="insert_field">insert_field</label></div>
                <select name="insert_field" id="insert_field" 
                  class="w3-select w3-round w3-border" style="width:60px;">
                  <% if (data.insert_field === 'true') { %>
                  <option value="true" selected="selected">true</option>
                  <option value="false">false</option><% } else{ %>
                  <option value="true">true</option>
                  <option value="false" selected="selected">false</option><% } %>
                </select>
              </div>
              <% } %>
            </li>
            <li>
              <div class="w3-responsive">
                <table class="w3-table w3-striped" style="width:auto;">
                  <thead>
                    <tr>
                      <% for (var i = 0; i < parseInt(data.update_rows,10); i++) { %>
                      <th class="w3-bottombar">
                        ROW <%= i+1 %>
                      </th><% } %>
                    </tr>
                  </thead>
                  <tbody id="rs_update">
                    <% data.fields_lst.forEach(function(field) { %>
                    <tr>
                      <% for (var i = 0; i < parseInt(data.update_rows,10); i++) { %>
                      <td>
                        <div>
                          <input id="cb_update" name="<%= 'cb_update_'+data.nom+'_'+field.fieldname+'_'+(i+1) %>"
                            class="w3-check" type="checkbox" 
                            <%=data['cb_update_'+data.nom+'_'+field.fieldname+'_'+(i+1)]==="on"? "checked" : ""%>>
                          <% if (field.label === field.fieldname) { %>
                            <span class="<%= field.mtype %>"><%= field.fieldname %></span>
                          <% } else{ %>
                            <span class="w3-small <%= field.mtype %>"><%= field.fieldname %></span><br><%= field.label %>
                          <% } %>
                        </div>
                        <% if (field.fieldtype === 'valuelist') { %>
                          <select class="w3-select w3-round w3-border margin-small-top" 
                            name="<%= 'update_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= field.fieldname %>_<%= i+1 %>" data-role="<%= field.fieldtype %>">
                            <option value=""></option><% field.values.forEach(function(value) { %>
                            <option value="<%= value %>" <%=data['update_'+data.nom+'_'+field.fieldname+'_'+(i+1)]===value? "selected=selected" : ""%> ><%= value %></option><% }); %>
                          </select>
                        <% } else if (field.fieldtype === 'bool') { %>
                          <select class="w3-select w3-round w3-border margin-small-top"
                            name="<%= 'update_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= field.fieldname %>_<%= i+1 %>" data-role="<%= field.fieldtype %>">
                            <option value=""></option>
                            <option value="true" <%=data['update_'+data.nom+'_'+field.fieldname+'_'+(i+1)]==='true'? "selected=selected" : ""%> >true</option>
                            <option value="false" <%=data['update_'+data.nom+'_'+field.fieldname+'_'+(i+1)]==='false'? "selected=selected" : ""%> >false</option>
                          </select>
                        <% } else if (field.fieldtype === 'date' || field.fieldtype === 'datetime') { %>
                          <input class="w3-input w3-border w3-round margin-small-top" 
                            name="<%= 'update_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= field.fieldname %>_<%= i+1 %>" data-role="<%= field.fieldtype %>"
                            value="<%= data['update_'+data.nom+'_'+field.fieldname+'_'+(i+1)] %>" 
                            type="text" >
                        <% } else if (field.fieldtype === 'integer') { %>
                          <input class="w3-input w3-border w3-round margin-small-top" 
                            name="<%= 'update_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= field.fieldname %>_<%= i+1 %>" data-role="<%= field.fieldtype %>"
                            value="<%= data['update_'+data.nom+'_'+field.fieldname+'_'+(i+1)] %>" 
                            onkeyup="this.value=String(this.value).replace(/[^0-9\-]|\-(?=.)/g,'');" 
                            type="text" >
                        <% } else if (field.fieldtype === 'float') { %>
                          <input class="w3-input w3-border w3-round margin-small-top" 
                            name="<%= 'update_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= field.fieldname %>_<%= i+1 %>" data-role="<%= field.fieldtype %>"
                            value="<%= data['update_'+data.nom+'_'+field.fieldname+'_'+(i+1)] %>"
                            onkeyup="this.value=String(this.value).replace(/[^0-9\-\.]|[\-](?=.)|[\.](?=[0-9]*[\.])/g,'');"
                            type="text" >
                        <% } else{ %>
                          <input class="w3-input w3-border w3-round margin-small-top"
                            name="<%= 'update_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= field.fieldname %>_<%= i+1 %>" data-role="<%= field.fieldtype %>"
                            value="<%= data['update_'+data.nom+'_'+field.fieldname+'_'+(i+1)] %>" 
                            type="text">
                        <% } %>
                      </td>
                      <% } %>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
        </div>
        <% } %>

        <% if (data.nom !== 'sql' && data.nom !== 'numberdef') { %>
        <button onclick="setAccordion('delete')" 
          class="w3-button w3-light-grey w3-block w3-border bold w3-left-align margin-small-top w3-hover-light-grey w3-hover-border-green w3-hover-text-green">
          <i class="fa fa-trash fa-fw" aria-hidden="true"></i>DELETE
        </button>
        <div id="delete" class="w3-white w3-border-left w3-border-right w3-border-bottom w3-hide <%=data.selected_tab==='delete'? 'w3-show' : ''%>">
          <ul class="w3-ul">
            <li class="w3-bar">
              <label class="w3-bar-item" for="delete_rows" >rows</label>
              <select id="delete_rows" name="delete_rows" 
                class="w3-select w3-round w3-border w3-bar-item"
                onchange="document.forms['frm_wizard'].submit();">
                <% for (var i = 1; i < 10; i++) { %>
                <option value="<%= i %>" <%=parseInt(data.delete_rows,10)===i? "selected=selected" : ""%> ><%= i %></option><% } %>
              </select>
            </li>
            <li>
              <div class="w3-responsive">
                <table id="rs_delete" class="w3-table w3-striped" style="width:auto;">
                  <thead>
                    <tr>
                      <th class="w3-bottombar"></th>
                      <% for (var i = 0; i < parseInt(data.delete_rows,10); i++) { %>
                      <th class="w3-bottombar">
                        <input id="cb_delete" class="w3-check"
                          name="<%= 'cb_delete_'+data.nom+'_'+(i+1) %>" 
                          type="checkbox" <%=data['cb_delete_'+data.nom+'_'+(i+1)]==="on"? "checked" : ""%> >
                        <span>ROW <%= i+1 %></span>
                      </th><% } %>
                    </tr>
                  </thead>
                  <tbody>
                    <% data.fields_lst.forEach(function(field) { %>
                    <% if (field.fieldcat === 0) { %>
                    <tr>
                      <% if (field.label === field.fieldname) { %>
                      <td><span class="<%= field.mtype %>"><%= field.fieldname %></span></td><% } else{ %>
                      <td><span class="<%= field.mtype %>"><%= field.fieldname %><br><%= field.label %></span></td><% } %>
                      <% for (var i = 0; i < parseInt(data.delete_rows,10); i++) { %>
                      <td>
                        <% if (field.fieldtype === 'valuelist') { %>
                          <select class="w3-select w3-round w3-border" 
                            name="<%= 'delete_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= 'delete_'+data.nom+'_'+(i+1) %>" data-role="<%= field.fieldtype %>">
                            <option value=""></option><% field.values.forEach(function(value) { %>
                            <option value="<%= value %>" <%=data['delete_'+data.nom+'_'+field.fieldname+'_'+(i+1)]===value? "selected=selected" : ""%> ><%= value %></option><% }); %>
                          </select>
                        <% } else if (field.fieldtype === 'bool') { %>
                          <select class="w3-select w3-round w3-border" 
                            name="<%= 'delete_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= 'delete_'+data.nom+'_'+(i+1) %>" data-role="<%= field.fieldtype %>">
                            <option value=""></option>
                            <option value="true" <%=data['delete_'+data.nom+'_'+field.fieldname+'_'+(i+1)]==='true'? "selected=selected" : ""%> >true</option>
                            <option value="false" <%=data['delete_'+data.nom+'_'+field.fieldname+'_'+(i+1)]==='false'? "selected=selected" : ""%> >false</option>
                          </select>
                        <% } else if (field.fieldtype === 'date' || field.fieldtype === 'datetime') { %>
                          <input class="w3-input w3-border w3-round" 
                            name="<%= 'delete_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= 'delete_'+data.nom+'_'+(i+1) %>" data-role="<%= field.fieldtype %>"
                            value="<%= data['delete_'+data.nom+'_'+field.fieldname+'_'+(i+1)] %>" type="text" >
                        <% } else if (field.fieldtype === 'integer') { %>
                          <input class="w3-input w3-border w3-round" 
                            name="<%= 'delete_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= 'delete_'+data.nom+'_'+(i+1) %>" data-role="<%= field.fieldtype %>"
                            value="<%= data['delete_'+data.nom+'_'+field.fieldname+'_'+(i+1)] %>" 
                            onkeyup="this.value=String(this.value).replace(/[^0-9\-]|\-(?=.)/g,'');" 
                            type="text" >
                        <% } else if (field.fieldtype === 'float') { %>
                          <input class="w3-input w3-border w3-round" 
                            name="<%= 'delete_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= 'delete_'+data.nom+'_'+(i+1) %>" data-role="<%= field.fieldtype %>"
                            value="<%= data['delete_'+data.nom+'_'+field.fieldname+'_'+(i+1)] %>" 
                            onkeyup="this.value=String(this.value).replace(/[^0-9\-\.]|[\-](?=.)|[\.](?=[0-9]*[\.])/g,'');" 
                            type="text" >
                        <% } else{ %>
                          <input class="w3-input w3-border w3-round" 
                            name="<%= 'delete_'+data.nom+'_'+field.fieldname %>_<%= i+1 %>" 
                            id="<%= 'delete_'+data.nom+'_'+(i+1) %>" data-role="<%= field.fieldtype %>"
                            value="<%= data['delete_'+data.nom+'_'+field.fieldname+'_'+(i+1)] %>" type="text">
                        <% } %>
                      </td><% } %>
                    </tr><% } %><% }); %>
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
        </div>
        <% } %>
      </form>
    </div>
  </body>
  <script type="text/javascript">
    flatpickr('input[data-role=date]', {
      allowInput: true});
    flatpickr('input[data-role=datetime]', {
      allowInput: true, enableTime: true, time_24hr: true, defaultHour: 0 });
  </script>
</html>