.selectStyle {
  border-radius: 3px;
  font-size: 13px;
  padding: 8px;
  opacity: 1;
}

.selectStyle:disabled {
  opacity: 0.5;
}

.optionStyle {
  font-size: 14px;
  border: none;
}

.optionStyle:disabled {
  opacity: 0.5;
}

.optionPlaceholder {
  color: var(--info);
  opacity: 0.5;
}