.main {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: var(--menu-top-height);
}

.page {
  transition: margin-left .4s;
  /*margin-top: var(--menu-top-height);*/
  margin-left: var(--menu-side-width);
}

@media (max-width:768px){
  .page{
    margin-left: 0px;
  }
}