<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nervatura Framework</title>
    <link rel="stylesheet" type="text/css" href="/lib/icon/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/w3/w3.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
  </head>
  <body>
    <div class="w3-top">
      <div class="w3-bar w3-black">
        <div class="w3-bar-item w3-right w3-hide-small">
          <div class="w3-padding">
            <span >Ver.No:</span><br>
            <span ><%= settings.version %></span>
          </div>
        </div>
        <a class="w3-bar-item w3-right w3-padding-small w3-hide-medium w3-hide-small" style="cursor:default;">
          <img src="/images/ntura_framework.png" height="64px" /></a>
        <div class="w3-padding w3-hide-small">
          <a href="/ntura/index" class="w3-bar-item w3-button w3-hover-black w3-hover-text-green <%= view==='index' ? 'w3-text-khaki' : 'w3-text-white' %>">
            <i class="fa fa-home fa-2x fa-fw" aria-hidden="true"></i><br />
            <span><%= lang.title_home %></span></a>
          <a href="/ntura/ndoc" class="w3-bar-item w3-button w3-hover-black w3-hover-text-green <%= view==='ndoc' ? 'w3-text-khaki' : 'w3-text-white' %>">
            <i class="fa fa-book fa-2x fa-fw" aria-hidden="true"></i><br />
            <span><%= lang.title_documentation %></span></a>
          <a href="/ntura/about" class="w3-bar-item w3-button w3-hover-black w3-hover-text-green <%= view==='about' ? 'w3-text-khaki' : 'w3-text-white' %>">
            <i class="fa fa-info-circle fa-2x fa-fw" aria-hidden="true"></i><br />
            <span><%= lang.title_about %></span></a>
          <a href="/login" class="w3-bar-item w3-button w3-hover-black w3-hover-text-green <%= view==='login' ? 'w3-text-khaki' : 'w3-text-white' %>">
            <i class="fa fa-cog fa-2x fa-fw" aria-hidden="true"></i><br />
            <span><%= lang.title_nas %></span></a>
        </div>
        <div class="w3-hide-medium w3-hide-large">
          <a href="/ntura/index" class="w3-bar-item w3-button w3-hover-black w3-hover-text-green <%= view==='index' ? 'w3-text-khaki' : 'w3-text-white' %>">
            <i class="fa fa-home fa-2x fa-fw" aria-hidden="true"></i></a>
          <a href="/ntura/ndoc" class="w3-bar-item w3-button w3-hover-black w3-hover-text-green <%= view==='ndoc' ? 'w3-text-khaki' : 'w3-text-white' %>">
            <i class="fa fa-book fa-2x fa-fw" aria-hidden="true"></i></a>
          <a href="/ntura/about" class="w3-bar-item w3-button w3-hover-black w3-hover-text-green <%= view==='about' ? 'w3-text-khaki' : 'w3-text-white' %>">
            <i class="fa fa-info-circle fa-2x fa-fw" aria-hidden="true"></i></a>
          <a href="/login" class="w3-bar-item w3-button w3-hover-black w3-hover-text-green <%= view==='login' ? 'w3-text-khaki' : 'w3-text-white' %>">
            <i class="fa fa-cog fa-2x fa-fw" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>

    <% if (view === 'index') { %>
      <% include home.html %>
    <% } else if (view === 'ndoc') { %>
      <% include ndoc.html %>
    <% } else if (view === 'about') { %>
      <% include about.html %>
    <% } else if (view === 'licenses') { %>
      <div class="w3-container w3-justify main" >
        <% include licenses.html %>
      </div>
    <% } else if (view === 'login') { %>
      <% include login.html %>
    <% } else { %>
      <% include home.html %>
    <% } %>

  </body>
</html>