.responsive {
  display: grid; 
  width: 100%;
}

.tableWrap {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.sort {
  cursor: pointer;
  cursor: hand;
}

.sort:after {
  padding-left: 1em;
  font-size: 0.5em;
}

.sortNone:after {
  padding-left: 0.5em;
  font-size: 1em;
}

.sortAsc:after {
  content: '▲';
  font-size: 14px;
  color: var(--warning);
}

.sortDesc:after {
  content: '▼';
  font-size: 14px;
  color: var(--warning);
}

.sort-order {
  margin-left: 0.5em;
}

.numberCell {
  text-align: right;
}

.linkCell {
  color: var(--info);
  cursor: pointer;
}

.linkCell:hover {
  text-decoration: underline;
}

.uiTable {
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 14px;
}

.uiTable tbody th, .uiTable tbody td {
  vertical-align: top;
}

.uiTable tbody tr:hover {
  color: var(--warning);
}

.uiTable th:hover {
  color: var(--warning);
}

.cellLabel { 
	display: none;
  font-weight: bold;
  font-size: 12px;
}
/* Mobile first styles: Begin with the stacked presentation at narrow widths */ 
@media only all {
	/* Hide the table headers */ 
	.uiTable thead td, 
	.uiTable thead th {
		display: none;
    font-size: 13px;
    background-color: rgba(var(--secondary-rgb),0.3);
    white-space: nowrap;
	}
	/* Show the table cells as a block level element */ 
	.uiTable td,
	.uiTable th { 
		text-align: left;
		display: block;
    padding: 8px;
	}
	/* Add a fair amount of top margin to visually separate each row when stacked */  
	.uiTable tbody th {
		margin-top: 3em;
	}
	/* Make the label elements a percentage width */ 
	.cellLabel { 
		padding: 4px 6px;
		min-width: 30%; 
		display: inline-block;
		margin: -.4em 1em -.1em -.4em;
	}
}
/* Breakpoint to show as a standard table at 560px (35em x 16px) or wider */ 
@media ( min-width: 35em ) {
	/* Show the table header rows */ 
	.uiTable td,
	.uiTable th,
	.uiTable tbody th,
	.uiTable tbody td,
	.uiTable thead td,
	.uiTable thead th {
		display: table-cell;
    margin: 0;
	}
	/* Hide the labels in each cell */ 
  .cellLabel { 
		display: none;
	}
}
/* Hack to make IE9 and WP7.5 treat cells like block level elements, scoped to ui-responsive class */ 
/* Applied in a max-width media query up to the table layout breakpoint so we don't need to negate this*/ 
@media ( max-width: 35em ) {
	.uiTable td,
	.uiTable th {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		clear: left;
    font-size: 13px;
    padding: 4px 6px;
    line-height: 11.5px;
	}
  .numberCell {
    text-align: left;
  }
}

.cursorPointer {
  cursor: pointer;
}

.cursorDisabled {
  cursor: not-allowed;
}

.filterInput {
  width: 100%;
  border-radius: 0px!important;
  margin-top: 1px;
  margin-bottom: 2px;
}

.addButton {
  border-radius: 0px!important;
  padding: 8px 16px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 2px;
}

.addLabel {
  padding-left: 4px;
}

.middle {
  vertical-align: middle;
}
