:root {
  --primary:    #000000;
  --primary-rgb:    0, 0, 0;
  --secondary:  #53575e;
  --secondary-rgb:  83, 87, 94;

  --success: #29a847;
  --success-rgb: 41, 168, 71;
  --info: #17a2b8;
  --info-rgb: 23, 162, 184;
  --warning: #FFA900;
  --warning-rgb: 255, 169, 0;
  --danger: #dc3545;
  --danger-rgb: 220, 53, 69;

  --light: #f5f5f5;
  --light-rgb: 245, 245, 245;
  --dark: #191919;
  --dark-rgb: 25, 25, 25;

  --font-family: "Noto Sans";
  --font-size: 14px;
  --menu-top-height: 43.5px;
  --menu-side-width: 250px;
}

.primary {
  color: rgba(var(--light-rgb),0.85);
  background-color: var(--primary);
}

.secondary {
  color: var(--light);
  background-color: var(--secondary);
}

.success, .Toastify__toast--success {
  color: var(--light);
  background-color: var(--success);
}

.info, .Toastify__toast--info {
  color: var(--light)!important;
  background-color: var(--info)!important;
}

.warning, .Toastify__toast--warning {
  color: var(--light);
  background-color: var(--warning);
}

.danger, .Toastify__toast--error {
  color: var(--light);
  background-color: var(--danger);
}

button {
  color: rgba(var(--light-rgb),0.85);
  background-color: var(--secondary);
}

button.border-button {
  background: none;
}

button.border-button:hover {
  border-color: var(--warning);
}

input:focus, input:hover:not(:disabled), textarea:focus, textarea:hover:not(:disabled), 
select:focus, select:hover:not(:disabled), button:focus, button:hover:not(:disabled), 
.toggle:hover:not(:disabled) {
  color: var(--warning)!important;
}

.light, .light .dialog {
  color: rgba(var(--dark-rgb),0.85);
  background-color: var(--light);
}

.light .secondary-title, .light .pagify-pagination span {
  color: rgba(var(--dark-rgb),0.85);
  background-color: rgba(var(--secondary-rgb),0.2);
}

.light input, .light textarea , .light select, .light option, .light .rtf, .light .toggle, .light .link {
  color: var(--dark);
  background-color: white;
  font-family: var(--font-family);
}

.light input, .light textarea , .light select, .light button, .light .border, 
.light .ui-table, .light .toggle, .light .link, .light .list, .light .dialog {
  border: 1px solid rgba(var(--dark-rgb),0.2);
}

.light .border-bottom, .light .ui-table thead td, 
.light .ui-table thead th {
  border-bottom: 1px solid rgba(var(--dark-rgb),0.2);
}

.light .border-top {
  border-top: 1px solid rgba(var(--dark-rgb),0.2);
}

.light button.border-button {
  color: rgba(var(--dark-rgb),0.85);
}

.light .ui-table tbody tr:nth-child(odd), .light .list li:nth-child(odd){
  background-color: rgba(var(--warning-rgb),0.1);
}

.dark, .dark .dialog {
  color: rgba(var(--light-rgb),0.85);
  background-color: var(--dark);
}

.dark .secondary-title, .dark .pagify-pagination span {
  color: rgba(var(--light-rgb),0.85);
  background-color: rgba(var(--secondary-rgb),0.2);;
}

.dark input, .dark textarea, .dark select, .dark option, .dark .rtf, .dark .toggle, .dark .link {
  color: var(--light);
  background-color: black;
  font-family: var(--font-family);
}

.dark input, .dark textarea, .dark select, .dark button, .dark .border, 
.dark .ui-table, .dark .toggle, .dark .link, .dark .list, .dark .dialog   {
  border: 1px solid rgba(var(--light-rgb),0.2);
}

.dark .border-bottom, .dark .ui-table thead td, 
.dark .ui-table thead th {
  border-bottom: 1px solid rgba(var(--light-rgb),0.2);
}

.dark .border-top {
  border-top: 1px solid rgba(var(--light-rgb),0.2);
}

.dark button.border-button {
  color: rgba(var(--light-rgb),0.85);
}

.dark .ui-table tbody tr:nth-child(odd), .dark .list li:nth-child(odd){
  background-color: rgba(var(--primary-rgb),0.4);
}
