.panel {
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 4px;
}

.panelTitle {
  border-radius: 3px;
  font-weight: bold;
  padding: 8px 16px;
}

.width800 {
  max-width: 800px;
}

.editCol {
  cursor: pointer;
}

.editCol:hover {
  color: var(--success);
}

.settingPanel {
  width: 100%;
}

.viewPanel {
  width: 100%;
}